@font-face {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  src: url(/fonts/Nextart-Heavy.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.learning .title .title__rectangle, .easy .easy__main .left-block .title2 .title__rectangle, .easy .easy__main .left-block .title1 .title__rectangle, .results .title .title__rectangle, .todo .title .title__rectangle, .target .title2 .title__rectangle, .target .title1 .title__rectangle, .learn .title .title__rectangle {
  background: #FFECA0;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11px;
}

.learning .title .title__text, .easy .easy__main .left-block .title2 .title__text, .easy .easy__main .left-block .title1 .title__text, .results .title .title__text, .todo .title .title__text, .target .title2 .title__text, .target .title1 .title__text, .learn .title .title__text {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  position: relative;
}

p {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

h3 {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.style-btn:hover {
  -webkit-box-shadow: 0px 8px 10px #1E5F5D66;
          box-shadow: 0px 8px 10px #1E5F5D66;
}
.style-btn:active {
  -webkit-box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.style-input:focus {
  -webkit-box-shadow: 0px 2px 4px #FFECA0;
          box-shadow: 0px 2px 4px #FFECA0;
}

.wrapper-modal-call {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal-call_active {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 50%;
}

.modal-window-call {
  position: absolute;
  max-width: 860px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/main/call-left.png) no-repeat left, url(/img/main/call-right.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window-call .btn-close-modal-call {
  display: block;
  padding-top: 39px;
  padding-left: 546px;
  padding-right: 260px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window-call .modal-window__title {
  padding-top: 47px;
  padding-left: 250px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window-call .inputs {
  padding-left: 250px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window-call .inputs .input {
  margin-top: 14px;
  width: 350px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window-call .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 113px;
  margin-left: 250px;
}

.wrapper-modal-trial {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal-trial_active {
  display: block;
}

.modal-window-trial {
  position: absolute;
  max-width: 1046px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/children_on/add_form.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window-trial .btn-close-modal-trial {
  display: block;
  padding-top: 47px;
  padding-left: 620px;
  padding-right: 372px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window-trial .modal-window-trial__title {
  padding-top: 19px;
  padding-left: 106px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window-trial .add-form__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.modal-window-trial .add-form__subtitle .adults {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 106px;
  position: relative;
}
.modal-window-trial .add-form__subtitle .adults:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.modal-window-trial .add-form__subtitle .adults.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.modal-window-trial .add-form__subtitle .children {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}
.modal-window-trial .add-form__subtitle .children:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.modal-window-trial .add-form__subtitle .children.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.modal-window-trial .form .dropwdown {
  position: relative;
}
.modal-window-trial .form .dropdown__btn {
  position: relative;
  display: block;
  text-align: left;
  width: 420px;
  height: 50px;
  margin-top: 30px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/main/down-small.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 23px);
}
.modal-window-trial .form .dropdown__list {
  display: none;
  position: absolute;
  text-align: left;
  width: 420px;
  margin-top: 10px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
}
.modal-window-trial .form .dropdown__list_active {
  display: block;
}
.modal-window-trial .form .dropdown__list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-window-trial .form .dropdown__list-item:first-of-type {
  margin-bottom: 12px;
  margin-top: 12px;
  background: url(/img/main/up-small.png) no-repeat right;
  background-position-x: calc(100% - 23px);
}
.modal-window-trial .form .dropdown__input-hidden {
  display: none;
}
.modal-window-trial .form .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
.modal-window-trial .form .form__radio label {
  margin-left: 17px;
}
.modal-window-trial .form .form__radio .radio1 {
  margin-left: 109px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.modal-window-trial .form .form__radio .radio1:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.modal-window-trial .form .form__radio .radio1:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.modal-window-trial .form .form__radio .radio2 {
  margin-left: 67px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.modal-window-trial .form .form__radio .radio2:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.modal-window-trial .form .form__radio .radio2:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.modal-window-trial .foradults {
  display: none;
}
.modal-window-trial .foradults.js_active {
  display: block;
}
.modal-window-trial .forchildren {
  display: none;
}
.modal-window-trial .forchildren.js_active {
  display: block;
}
.modal-window-trial .under-inputs {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window-trial .input-name {
  margin-left: 106px;
}
.modal-window-trial .input-phone {
  margin-left: 16px;
}
.modal-window-trial .input-email {
  width: 420px;
  height: 50px;
  margin-left: 106px;
}
.modal-window-trial .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 85px;
  margin-left: 106px;
}

.wrapper-modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal_active {
  display: block;
}

.modal-window {
  position: absolute;
  max-width: 860px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/main/modal-left.png) no-repeat left, url(/img/main/modal-right.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window .btn-close-modal {
  display: block;
  padding-top: 39px;
  padding-left: 585px;
  padding-right: 220px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window .modal-window__title {
  padding-top: 17px;
  padding-left: 219px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window .inputs {
  padding-left: 219px;
  margin-top: 20px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window .inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}
.modal-window .inputs .input {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window .inputs .input-mail {
  width: 420px;
}
.modal-window .inputs .input-price {
  width: 420px;
  background: url(/img/main/modal-rub.png) no-repeat right;
  background-position-x: calc(100% - 20px);
  background-color: #fff;
}
.modal-window .inputs input[type=number]::-webkit-outer-spin-button,
.modal-window .inputs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-window .modal-window__text {
  padding-right: 242px;
  padding-left: 219px;
  margin-top: 24px;
}
.modal-window .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 73px;
  margin-left: 219px;
}

.nav {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 60px;
  padding-top: 50px;
}
.nav .nav__logo {
  margin-right: 77px;
  cursor: pointer;
}
.nav .nav__logo .burger {
  display: none;
}
.nav .nav__menu {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.nav .nav__menu img {
  margin-right: 46.5px;
}
.nav .nav__menu.adults {
  margin-right: 270px;
}
.nav .children {
  margin-left: 20px;
}

.children-option {
  display: none;
}

.children-option.active {
  position: absolute;
  width: 191px;
  height: 86px;
  background: url(/img/main/option-header.png);
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.children-option.active a {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.children-option.active a:first-of-type {
  margin-top: 8px;
  margin-bottom: 12px;
}

.container-header {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .title__text {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 560px;
  line-height: 66px;
  margin-right: 35px;
}
.header .title__subtext {
  margin-top: 20px;
  margin-bottom: 58px;
  font-size: 22px;
  color: #363636;
}
.header .title__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.subtitle {
  max-width: 857px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learn {
  max-width: 1260px;
  margin: 140px auto 140px;
  background: #FFFBED;
  border-radius: 70px;
  padding: 75px 220px 85px 213px;
}
.learn .title {
  width: 375px;
  position: relative;
}
.learn .learn__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.learn .learn__language .learn__language_english {
  background: url(/img/children_on/english.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_germany {
  background: url(/img/children_on/germany.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_spain {
  background: url(/img/children_on/spain.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_france {
  background: url(/img/children_on/france.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}

.target {
  max-width: 979px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.target .right-block {
  margin-left: 88px;
}
.target .title1 {
  width: 400px;
  position: relative;
}
.target .title1 .title__text {
  margin-bottom: 15px;
}
.target .title2 {
  width: 330px;
  position: relative;
}
.todo {
  max-width: 874px;
  margin: 140px auto 0;
}
.todo .title {
  width: 320px;
  margin: 0 auto 50px;
  position: relative;
}
.todo .todo__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.todo .todo__lists .todo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.todo .todo__lists .todo-items h3 {
  margin-top: 20px;
}
.todo .todo__lists .item1 {
  width: 145px;
}
.todo .todo__lists .item2 {
  width: 152px;
}
.todo .todo__lists .item3 {
  width: 125px;
}
.todo .todo__lists .item4 {
  width: 169px;
}

.results {
  max-width: 1173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 140px auto 0;
}
.results .title {
  width: 76px;
  position: relative;
}
.results .left-side {
  width: 450px;
  margin-right: 125px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.results .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
}
.results .right-side .result01 {
  background: url(/img/adults/results01.png) no-repeat left;
  padding-left: 76px;
}
.results .right-side .result02 {
  background: url(/img/adults/results02.png) no-repeat left;
  padding-left: 76px;
}
.results .right-side .result03 {
  background: url(/img/adults/results03.png) no-repeat left;
  padding-left: 76px;
}

.easy {
  max-width: 1260px;
  background: #FFFBED;
  border-radius: 70px;
  margin: 0 auto;
  margin-top: 140px;
}
.easy .easy__main {
  padding: 100px 243px 96px 197.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.easy .easy__main .left-block {
  width: 500px;
  margin-right: 94px;
}
.easy .easy__main .left-block .title1 {
  width: 460px;
  position: relative;
}
.easy .easy__main .left-block .title1 .title__text {
  font-size: 30px;
  margin-bottom: 14px;
}
.easy .easy__main .left-block .title1 .title__rectangle {
  height: 14px;
}
.easy .easy__main .left-block .title2 {
  width: 500px;
  position: relative;
}
.easy .easy__main .left-block .title2 .title__text {
  font-size: 30px;
  margin-bottom: 30px;
}
.easy .easy__main .left-block .title2 .title__rectangle {
  height: 14px;
}
.easy .easy__main .left-block p {
  margin-bottom: 58px;
  width: 320px;
}
.easy .easy__main .btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.learning {
  max-width: 1258px;
  margin: 140px auto 0;
}
.learning .title {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
.learning .title .title__text {
  margin-bottom: 30px;
}
.learning .learning__subtitle {
  text-align: center;
}
.learning .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 87px;
  position: relative;
}
.learning .options::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #61B5A9;
  top: 0;
  left: 0;
  margin-top: 14px;
}
.learning .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234px;
}
.learning .options .option .option__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #61B5A9;
  border-radius: 50%;
}
.learning .options .option .option__radio:checked {
  background: #61B5A9;
  -webkit-box-shadow: 2px 2px 10px #61B5A9, -2px -2px 10px #61B5A9;
          box-shadow: 2px 2px 10px #61B5A9, -2px -2px 10px #61B5A9;
}
.learning .options .option h3 {
  margin-top: 30px;
}
.learning .options .option .base {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 234px;
  height: 146px;
  background: url(/img/adults/base.png);
  margin-top: 40px;
  padding-left: 35px;
}
.learning .options .option .base.middle div {
  margin-top: 2px;
}
.learning .options .option .base .base-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.learning .options .option .base .base-radio:checked {
  background: #236967;
  border: 3px solid #FFECA0;
}
.learning .options .option .base .base-radio:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.learning .options .option .base div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}
.learning .options .option .base div p {
  margin-left: 14px;
}
.learning .options .option .base div:first-of-type {
  margin-top: 25px;
}
.learning .options .option .base.js_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-form {
  max-width: 1046px;
  background: #FFFBED;
  margin: 140px auto;
  border-radius: 70px;
  background: url(/img/children_on/add_form.png) no-repeat right;
  background-color: #FFFBED;
}
.add-form .add-form__title {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 90px;
  padding-left: 106px;
}
.add-form .add-form__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.add-form .add-form__subtitle .adults {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 106px;
  position: relative;
}
.add-form .add-form__subtitle .adults:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.add-form .add-form__subtitle .adults.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.add-form .add-form__subtitle .children {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}
.add-form .add-form__subtitle .children:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.add-form .add-form__subtitle .children.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.add-form .form .dropwdown {
  position: relative;
}
.add-form .form .dropdown__btn {
  position: relative;
  display: block;
  text-align: left;
  width: 420px;
  height: 50px;
  margin-top: 30px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/main/down-small.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 23px);
}
.add-form .form .dropdown__list {
  display: none;
  position: absolute;
  text-align: left;
  width: 420px;
  margin-top: 10px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
}
.add-form .form .dropdown__list_active {
  display: block;
}
.add-form .form .dropdown__list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-form .form .dropdown__list-item:first-of-type {
  margin-bottom: 12px;
  margin-top: 12px;
  background: url(/img/main/up-small.png) no-repeat right;
  background-position-x: calc(100% - 23px);
}
.add-form .form .dropdown__input-hidden {
  display: none;
}
.add-form .form .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
.add-form .form .form__radio label {
  margin-left: 17px;
}
.add-form .form .form__radio .radio1 {
  margin-left: 109px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio1:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio1:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .form .form__radio .radio2 {
  margin-left: 67px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio2:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio2:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .foradults {
  display: none;
}
.add-form .foradults.js_active {
  display: block;
}
.add-form .forchildren {
  display: none;
}
.add-form .forchildren.js_active {
  display: block;
}
.add-form .under-inputs {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.add-form .input-name {
  margin-left: 106px;
}
.add-form .input-phone {
  margin-left: 20px;
}
.add-form .input-email {
  width: 420px;
  height: 50px;
  margin-left: 106px;
}
.add-form .btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 91px;
}

.footer {
  width: 100%;
  margin-top: 140px;
  background: #FFFBED;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.footer .main {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 69px;
}
.footer .main .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .main .footer__links .links__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__links .link {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.footer .main .footer__links .link:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__links .copy {
  margin-top: 62px;
  font-size: 14px;
}
.footer .main .footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .main .footer__center .center__contacts {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .main .footer__center .footer__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.footer .main .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 195px;
  text-align: end;
  margin-left: 62px;
}
.footer .main .footer__contacts .contacts__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__contacts p:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__contacts .design {
  margin-top: 48px;
  font-size: 14px;
}
.footer .footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 69px;
}

.burger-menu {
  display: none;
  width: 100%;
  position: absolute;
  background: #FFFBED;
  border-radius: 0 0 70px 70px;
}
.burger-menu .burger-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px 0px 20px;
  margin-bottom: 40px;
}
.burger-menu .burger-menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.burger-menu .burger-menu__main .link {
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
}
.burger-menu .burger-menu__main .link:last-of-type {
  margin-bottom: 52px;
}
.burger-menu .burger-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 52px;
}
.burger-menu .burger-menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 106px 60px;
}
.burger-menu .burger-menu__footer .contacts__title {
  margin-bottom: 20px;
  font-size: 16px;
}
.burger-menu .burger-menu__footer p {
  font-size: 14px;
}
.burger-menu .burger-menu__footer p:not(:last-child) {
  margin-bottom: 12px;
}
.burger-menu.js_active {
  display: block;
}

@media screen and (max-width: 575px) {
  .nav {
    width: 100%;
    margin-bottom: 0;
  }
  .nav .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }
  .nav .nav__logo .burger {
    display: block;
    width: 20px;
    height: 15px;
  }
  .nav .nav__logo img {
    width: 200px;
    height: 40px;
  }
  .nav .nav__main {
    display: none;
  }
  .nav .nav__menu.adults {
    display: none;
  }
  .nav .contacts {
    display: none;
  }

  .container-header {
    width: 100%;
  }
  .container-header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .container-header .header .title .title__text {
    font-size: 30px;
    width: 295px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .container-header .header .title .title__subtext {
    font-size: 20px;
    width: 245px;
  }
  .container-header .header .title .title__btn {
    font-size: 16px;
    padding: 16px 38px;
  }
  .container-header .header .header__logo {
    width: 100%;
    margin-top: 60px;
  }
  .container-header .header .header__logo img {
    width: 100%;
  }
  .container-header .subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 72px 80px 91px;
  }
  .container-header .subtitle img:not(:last-child) {
    margin-bottom: 60px;
    width: 145px;
  }

  .learn {
    width: 100%;
    height: 460px;
    padding-right: 87px;
    padding-left: 85px;
  }
  .learn .title {
    width: 200px;
  }
  .learn .title .title__text {
    font-size: 20px;
  }
  .learn .title .title__rectangle {
    width: 200px;
    height: 8px;
  }
  .learn .learn__language {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30px;
  }
  .learn .learn__language .language {
    margin-bottom: 30px;
    font-size: 16px;
    background-size: contain;
    line-height: 30px;
  }

  .target {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .target img {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 57px;
  }
  .target .right-block {
    width: 100%;
    margin-left: 20px;
  }
  .target .right-block .title1 .title__rectangle {
    height: 8px;
    width: 330px;
  }
  .target .right-block .title1 .title__text {
    font-size: 20px;
  }
  .target .right-block .title2 .title__rectangle {
    height: 8px;
    width: 273px;
  }
  .target .right-block .title2 .title__text {
    font-size: 20px;
  }
  .target .right-block .target__text {
    font-size: 14px;
    width: 300px;
  }

  .todo {
    width: 100%;
    margin-top: 100px;
  }
  .todo .title .title__rectangle {
    height: 8px;
    width: 265px;
    margin-left: 30px;
  }
  .todo .title .title__text {
    text-align: center;
    font-size: 20px;
  }
  .todo .todo__lists {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 23px 0 16px;
  }
  .todo .todo__lists .todo-items {
    margin: 14px 0px;
    width: 130px;
  }
  .todo .todo__lists .todo-items h3 {
    font-size: 16px;
  }

  .results {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .results .left-side {
    padding: 0 20px;
    width: auto;
    margin-right: 0;
  }
  .results .left-side .title .title__rectangle {
    height: 8px;
    width: 63px;
  }
  .results .left-side .title .title__text {
    font-size: 20px;
  }
  .results .left-side p {
    font-size: 14px;
  }
  .results .right-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .results .right-side .result01 {
    width: 250px;
    margin-bottom: 30px;
  }
  .results .right-side .result02 {
    margin-bottom: 30px;
  }

  .easy {
    width: 100%;
    margin-top: 100px;
  }
  .easy .easy__main {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-bottom: 60px;
  }
  .easy .easy__main .left-block {
    width: 100%;
    margin-bottom: 44px;
    padding: 60px 16px 0 20px;
    margin-right: 0;
  }
  .easy .easy__main .left-block .title1 .title__rectangle {
    height: 8px;
    width: 300px;
  }
  .easy .easy__main .left-block .title1 .title__text {
    font-size: 20px;
  }
  .easy .easy__main .left-block .title2 .title__rectangle {
    height: 8px;
    width: 330px;
  }
  .easy .easy__main .left-block .title2 .title__text {
    font-size: 20px;
  }
  .easy .easy__main .style-btn {
    font-size: 16px;
    padding: 16px 34px;
  }

  .learning {
    width: 100%;
  }
  .learning .title .title__rectangle {
    height: 8px;
    width: 205px;
    margin-left: 22px;
  }
  .learning .title .title__text {
    text-align: center;
    font-size: 20px;
  }
  .learning .learning__subtitle {
    font-size: 14px;
  }
  .learning .options {
    width: 100%;
    padding: 0 16px;
  }
  .learning .options .option h3 {
    font-size: 16px;
    text-align: center;
  }
  .learning .options .option .base {
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .learning .options .option .base div:first-of-type {
    margin-top: 0;
  }
  .learning .options .option .base p {
    font-size: 14px;
  }

  .add-form {
    width: 100%;
    margin-top: 0;
    border-radius: 50px;
    height: 822px;
    margin-top: 100px;
    background: url(/img/main/add_form_mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .add-form .add-form__title {
    font-size: 20px;
    padding-top: 65px;
    padding-left: 20px;
    width: 300px;
  }
  .add-form .add-form__subtitle .adults {
    width: 160px;
    margin-left: 20px;
    font-size: 16px;
  }
  .add-form .add-form__subtitle .adults:after {
    width: 160px;
  }
  .add-form .add-form__subtitle .adults.js_active:after {
    width: 160px;
  }
  .add-form .add-form__subtitle .children {
    width: 160px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
  }
  .add-form .add-form__subtitle .children:after {
    width: 160px;
  }
  .add-form .add-form__subtitle .children.js_active:after {
    width: 160px;
  }
  .add-form .form .dropdown__btn {
    width: 335px;
    margin-left: 20px;
  }
  .add-form .form .dropdown__list {
    width: 335px;
    margin-left: 20px;
  }
  .add-form .form .form__radio .radio1 {
    margin-left: 20px;
  }
  .add-form .form .form__radio .radio2 {
    margin-left: 30px;
  }
  .add-form .under-inputs {
    width: 158px;
  }
  .add-form .input-name {
    margin-left: 20px;
  }
  .add-form .input-phone {
    margin-left: 16px;
  }
  .add-form .input-email {
    width: 335px;
    margin-left: 20px;
  }
  .add-form .btn {
    padding: 16px 34px;
    font-size: 16px;
    margin-bottom: 60px;
  }

  .footer {
    width: 100%;
  }
  .footer .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .main .footer__links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer .main .footer__center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
  .footer .main .footer__center .footer__btn {
    padding: 16px 34px;
    font-size: 16px;
  }
  .footer .main .footer__center .center__contacts {
    width: 254px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .main .footer__contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding-bottom: 60px;
  }
  .footer .footer__down p {
    width: 150px;
    font-size: 12px;
  }

  .wrapper-modal-call {
    width: 375px;
  }

  .modal-window-call {
    width: 375px;
    border-radius: 50px;
    background: url(/img/main/modal-call-mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .modal-window-call .btn-close-modal-call {
    padding-top: 39px;
    padding-left: 280px;
    padding-right: 0;
  }
  .modal-window-call .modal-window__title {
    padding-left: 20px;
    font-size: 20px;
  }
  .modal-window-call .inputs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-window-call .inputs .input {
    margin-top: 14px;
    width: 335px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #FFECA0;
    border-radius: 10px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .modal-window-call .modal-btn {
    padding: 16px 34px;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 350px;
  }

  .wrapper-modal-trial {
    width: 375px;
  }

  .modal-window-trial {
    width: 375px;
    height: 876px;
    border-radius: 50px;
    background: url(/img/children_on/add_form_mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .modal-window-trial .btn-close-modal-trial {
    padding-left: 300px;
    padding-right: 0;
  }
  .modal-window-trial .modal-window-trial__title {
    padding-left: 20px;
    font-size: 20px;
  }
  .modal-window-trial .add-form__subtitle .adults {
    width: 160px;
    margin-left: 20px;
    font-size: 16px;
  }
  .modal-window-trial .add-form__subtitle .adults:after {
    width: 160px;
  }
  .modal-window-trial .add-form__subtitle .adults.js_active:after {
    width: 160px;
  }
  .modal-window-trial .add-form__subtitle .children {
    width: 160px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
  }
  .modal-window-trial .add-form__subtitle .children:after {
    width: 160px;
  }
  .modal-window-trial .add-form__subtitle .children.js_active:after {
    width: 160px;
  }
  .modal-window-trial .form .dropdown__btn {
    height: 42px;
    width: 335px;
    margin-left: 20px;
  }
  .modal-window-trial .form .dropdown__list {
    width: 335px;
    margin-left: 20px;
  }
  .modal-window-trial .form .form__radio .radio1 {
    margin-left: 20px;
  }
  .modal-window-trial .form .form__radio .radio2 {
    margin-left: 30px;
  }
  .modal-window-trial .under-inputs {
    width: 158px;
    height: 42px;
  }
  .modal-window-trial .input-name {
    margin-left: 20px;
  }
  .modal-window-trial .input-phone {
    margin-left: 16px;
  }
  .modal-window-trial .input-email {
    width: 335px;
    margin-left: 20px;
  }
  .modal-window-trial .modal-btn {
    padding: 16px 34px;
    font-size: 16px;
  }

  .wrapper-modal {
    width: 375px;
  }

  .modal-window {
    width: 375px;
    height: 783px;
    border-radius: 50px;
    background: url(/img/main/modal-mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .modal-window .btn-close-modal {
    padding-left: 301px;
    padding-right: 20px;
    padding-top: 30px;
  }
  .modal-window .modal-window__title {
    padding-left: 20px;
    font-size: 20px;
  }
  .modal-window .inputs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-window .inputs div {
    width: 335px;
  }
  .modal-window .inputs .input {
    margin-top: 14px;
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
  .modal-window .inputs .input-mail {
    width: 335px;
  }
  .modal-window .inputs .input-price {
    width: 335px;
  }
  .modal-window .modal-window__text {
    padding-left: 20px;
    padding-right: 76px;
    font-size: 12px;
  }
  .modal-window .modal-btn {
    padding: 16px 34px;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 111px;
  }
}