@font-face {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  src: url(/fonts/Nextart-Heavy.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.learning .title .title__rectangle, .easy .easy__main .left-block .title2 .title__rectangle, .easy .easy__main .left-block .title1 .title__rectangle, .results .title .title__rectangle, .todo .title .title__rectangle, .target .title2 .title__rectangle, .target .title1 .title__rectangle, .learn .title .title__rectangle {
  background: #FFECA0;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11px;
}

.learning .title .title__text, .easy .easy__main .left-block .title2 .title__text, .easy .easy__main .left-block .title1 .title__text, .results .title .title__text, .todo .title .title__text, .target .title2 .title__text, .target .title1 .title__text, .learn .title .title__text {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  position: relative;
}

p {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

h3 {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.nav {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto 60px;
}

.nav__logo {
  margin-right: 77px;
}

.nav__menu {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.nav__menu img {
  margin-right: 46.5px;
}
.nav__menu.adults {
  margin-right: 270px;
}

.container-header {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .title__text {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 560px;
  line-height: 66px;
  margin-right: 35px;
}
.header .title__subtext {
  margin-top: 20px;
  margin-bottom: 58px;
  font-size: 22px;
  color: #363636;
}
.header .title__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.subtitle {
  max-width: 857px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learn {
  max-width: 1260px;
  margin: 140px auto 140px;
  background: #FFFBED;
  border-radius: 70px;
  padding: 75px 220px 85px 213px;
}
.learn .title {
  width: 375px;
  position: relative;
}
.learn .learn__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.learn .learn__language .learn__language_english {
  background: url(/img/children_on/english.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_germany {
  background: url(/img/children_on/germany.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_spain {
  background: url(/img/children_on/spain.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_france {
  background: url(/img/children_on/france.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}

.target {
  max-width: 979px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.target .right-block {
  margin-left: 88px;
}
.target .title1 {
  width: 400px;
  position: relative;
}
.target .title1 .title__text {
  margin-bottom: 15px;
}
.target .title2 {
  width: 330px;
  position: relative;
}
.todo {
  max-width: 874px;
  margin: 140px auto 0;
}
.todo .title {
  width: 320px;
  margin: 0 auto 50px;
  position: relative;
}
.todo .todo__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.todo .todo__lists .todo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.todo .todo__lists .todo-items h3 {
  margin-top: 20px;
}
.todo .todo__lists .item1 {
  width: 145px;
}
.todo .todo__lists .item2 {
  width: 152px;
}
.todo .todo__lists .item3 {
  width: 125px;
}
.todo .todo__lists .item4 {
  width: 169px;
}

.results {
  max-width: 1173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 140px auto 0;
}
.results .title {
  width: 76px;
  position: relative;
}
.results .left-side {
  width: 450px;
  margin-right: 125px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.results .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
}
.results .right-side .result01 {
  background: url(/img/adults/results01.png) no-repeat left;
  padding-left: 76px;
}
.results .right-side .result02 {
  background: url(/img/adults/results02.png) no-repeat left;
  padding-left: 76px;
}
.results .right-side .result03 {
  background: url(/img/adults/results03.png) no-repeat left;
  padding-left: 76px;
}

.easy {
  max-width: 1260px;
  background: #FFFBED;
  border-radius: 70px;
  margin: 0 auto;
  margin-top: 140px;
}
.easy .easy__main {
  padding: 100px 243px 96px 197.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.easy .easy__main .left-block {
  width: 500px;
  margin-right: 94px;
}
.easy .easy__main .left-block .title1 {
  width: 460px;
  position: relative;
}
.easy .easy__main .left-block .title1 .title__text {
  font-size: 30px;
  margin-bottom: 14px;
}
.easy .easy__main .left-block .title1 .title__rectangle {
  height: 14px;
}
.easy .easy__main .left-block .title2 {
  width: 500px;
  position: relative;
}
.easy .easy__main .left-block .title2 .title__text {
  font-size: 30px;
  margin-bottom: 30px;
}
.easy .easy__main .left-block .title2 .title__rectangle {
  height: 14px;
}
.easy .easy__main .left-block p {
  margin-bottom: 58px;
  width: 320px;
}
.easy .easy__main .btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.learning {
  max-width: 1258px;
  margin: 140px auto 0;
}
.learning .title {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
.learning .title .title__text {
  margin-bottom: 30px;
}
.learning .learning__subtitle {
  text-align: center;
}
.learning .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 87px;
  position: relative;
}
.learning .options::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #61B5A9;
  top: 0;
  left: 0;
  margin-top: 14px;
}
.learning .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 234px;
}
.learning .options .option .option__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #61B5A9;
  border-radius: 50%;
}
.learning .options .option .option__radio:checked {
  background: #61B5A9;
  -webkit-box-shadow: 2px 2px 10px #61B5A9, -2px -2px 10px #61B5A9;
          box-shadow: 2px 2px 10px #61B5A9, -2px -2px 10px #61B5A9;
}
.learning .options .option h3 {
  margin-top: 30px;
}
.learning .options .option .base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 234px;
  height: 146px;
  background: url(/img/adults/base.png);
  margin-top: 40px;
  padding-left: 42px;
}
.learning .options .option .base .base-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.learning .options .option .base .base-radio:checked {
  background: #236967;
  border: 3px solid #FFECA0;
}
.learning .options .option .base .base-radio:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.learning .options .option .base div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 14px;
}
.learning .options .option .base div p {
  margin-left: 14px;
}
.learning .options .option .base div:first-of-type {
  margin-top: 25px;
}

.add-form {
  max-width: 1046px;
  background: #FFFBED;
  margin: 140px auto;
  border-radius: 70px;
  background: url(/img/children_on/add_form.png) no-repeat right;
  background-color: #FFFBED;
}
.add-form .add-form__title {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 90px;
  padding-left: 106px;
}
.add-form .add-form__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.add-form .add-form__subtitle .adults {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 106px;
  position: relative;
}
.add-form .add-form__subtitle .adults:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.add-form .add-form__subtitle .children {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}
.add-form .add-form__subtitle .children:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.add-form .form .form__select {
  width: 420px;
  height: 50px;
  margin-top: 30px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/main/down-small.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 23px);
}
.add-form .form .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
.add-form .form .form__radio label {
  margin-left: 17px;
}
.add-form .form .form__radio .radio1 {
  margin-left: 109px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio1:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio1:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .form .form__radio .radio2 {
  margin-left: 67px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio2:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio2:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .under-inputs {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.add-form .input-name {
  margin-left: 106px;
}
.add-form .input-phone {
  margin-left: 20px;
}
.add-form .input-email {
  width: 420px;
  height: 50px;
  margin-left: 106px;
}
.add-form .btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 91px;
}

.footer {
  width: 100%;
  margin-top: 140px;
  background: #FFFBED;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.footer .main {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 69px;
}
.footer .main .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .main .footer__links .links__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__links .link {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.footer .main .footer__links .link:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__links .copy {
  margin-top: 62px;
  font-size: 14px;
}
.footer .main .footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .main .footer__center .center__contacts {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .main .footer__center .footer__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.footer .main .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 195px;
  text-align: end;
  margin-left: 62px;
}
.footer .main .footer__contacts .contacts__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__contacts p:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__contacts .design {
  margin-top: 48px;
  font-size: 14px;
}