@font-face {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  src: url(/fonts/Nextart-Heavy.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.educations .title .title__rectangle, .whatisit .title2 .title__rectangle, .whatisit .title1 .title__rectangle, .results .title .title__rectangle, .easy .easy__main .left-block .title2 .title__rectangle, .easy .easy__main .left-block .title1 .title__rectangle, .change .title .title__rectangle, .learn .title .title__rectangle {
  background: #FFECA0;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11px;
}

.educations .title .title__text, .whatisit .title2 .title__text, .whatisit .title1 .title__text, .results .title .title__text, .easy .easy__main .left-block .title2 .title__text, .easy .easy__main .left-block .title1 .title__text, .change .title .title__text, .learn .title .title__text {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  position: relative;
}

p {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

h3 {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.style-btn:hover {
  -webkit-box-shadow: 0px 8px 10px #1E5F5D66;
          box-shadow: 0px 8px 10px #1E5F5D66;
}
.style-btn:active {
  -webkit-box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.wrapper-modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal_active {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 50%;
}

.modal-window {
  position: absolute;
  max-width: 860px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/main/modal-left.png) no-repeat left, url(/img/main/modal-right.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window .btn-close-modal {
  display: block;
  padding-top: 39px;
  padding-left: 585px;
  padding-right: 220px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window .modal-window__title {
  padding-top: 17px;
  padding-left: 219px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window .inputs {
  padding-left: 219px;
  margin-top: 20px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window .inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}
.modal-window .inputs .input {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window .inputs .input-mail {
  width: 420px;
}
.modal-window .inputs .input-price {
  width: 420px;
  background: url(/img/main/modal-rub.png) no-repeat right;
  background-position-x: calc(100% - 20px);
  background-color: #fff;
}
.modal-window .inputs input[type=number]::-webkit-outer-spin-button,
.modal-window .inputs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-window .modal-window__text {
  padding-right: 242px;
  padding-left: 219px;
  margin-top: 24px;
}
.modal-window .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 73px;
  margin-left: 219px;
}

.nav {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 60px;
  padding-top: 50px;
}
.nav .children {
  margin-left: 20px;
}

.nav__logo {
  margin-right: 77px;
}

.nav__menu {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.nav__menu img {
  margin-right: 46.5px;
}
.nav__menu.adults {
  margin-right: 270px;
}

.children-option {
  display: none;
}

.children-option.active {
  position: absolute;
  width: 191px;
  height: 86px;
  background: url(/img/main/option-header.png);
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.children-option.active a {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.children-option.active a:first-of-type {
  margin-top: 8px;
  margin-bottom: 12px;
}

.container-header {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .title__text {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 560px;
  line-height: 66px;
  margin-top: 70px;
  margin-right: 35px;
  margin-bottom: 58px;
}
.header .title__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.learn {
  max-width: 1260px;
  margin: 140px auto 140px;
  background: #FFFBED;
  border-radius: 70px;
  padding: 75px 220px 85px 213px;
}
.learn .title {
  width: 465px;
  position: relative;
}
.learn .learn__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.learn .learn__language .learn__language_english {
  background: url(/img/children_on/english.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_germany {
  background: url(/img/children_on/germany.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_spain {
  background: url(/img/children_on/spain.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_france {
  background: url(/img/children_on/france.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}

.change {
  max-width: 1234px;
  margin: 0 auto;
}
.change .title {
  width: 415px;
  position: relative;
}
.change .change__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.change .change__row h3 {
  width: 400px;
}
.change .change__row .yellow-line {
  width: 275px;
  padding-left: 20px;
  background: url(/img/children_on/yellow-line.png) no-repeat left;
}
.change .change__row .orange-line {
  width: 381px;
  padding-left: 20px;
  background: url(/img/children_on/orange-line.png) no-repeat left;
}

.easy {
  max-width: 1260px;
  background: #FFFBED;
  border-radius: 70px;
  margin: 0 auto;
  margin-top: 140px;
}
.easy .easy__main {
  padding: 67px 243px 67px 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.easy .easy__main .left-block {
  width: 333px;
  margin-right: 181px;
}
.easy .easy__main .left-block .title1 {
  width: 255px;
  position: relative;
}
.easy .easy__main .left-block .title1 .title__text {
  font-size: 30px;
  margin-bottom: 23px;
}
.easy .easy__main .left-block .title1 .title__rectangle {
  height: 14px;
}
.easy .easy__main .left-block .title2 {
  width: 330px;
  position: relative;
}
.easy .easy__main .left-block .title2 .title__text {
  font-size: 30px;
  margin-bottom: 58px;
}
.easy .easy__main .left-block .title2 .title__rectangle {
  height: 14px;
}
.easy .easy__main .btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.results {
  max-width: 874px;
  margin: 140px auto;
}
.results .title {
  width: 450px;
  margin: 0 auto;
  position: relative;
}
.results .results__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.results .results__items .column1 {
  width: 264px;
  margin-right: 25px;
}
.results .results__items .column1 .item {
  background: #FFFBED;
  border-radius: 30px;
  margin-bottom: 40px;
  padding: 28px 37px;
}
.results .results__items .column1 .item img {
  margin-bottom: 29px;
}
.results .results__items .column1 .item2 {
  padding: 28px 42px 28px 37px;
}
.results .results__items .column2 {
  width: 296px;
  margin-right: 29px;
}
.results .results__items .column2 .item {
  background: #FFFBED;
  border-radius: 30px;
  margin-bottom: 40px;
  padding: 28px 37px;
}
.results .results__items .column2 .item img {
  margin-bottom: 29px;
}
.results .results__items .column2 .item2 {
  padding: 28px 20px 28px 37px;
}
.results .results__items .column3 {
  width: 260px;
}
.results .results__items .column3 .item {
  background: #FFFBED;
  border-radius: 30px;
  margin-bottom: 40px;
  padding: 28px 51px 28px 37px;
}
.results .results__items .column3 .item img {
  margin-bottom: 29px;
}

.whatisit {
  max-width: 1091px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whatisit .title1 {
  width: 345px;
  position: relative;
}
.whatisit .title1 .title__text {
  margin-bottom: 17px;
}
.whatisit .title1 .title__rectangle {
  height: 14px;
}
.whatisit .title2 {
  width: 225px;
  position: relative;
}
.whatisit .title2 .title__text {
  margin-bottom: 40px;
}
.whatisit .title2 .title__rectangle {
  height: 14px;
}
.whatisit .whatisit__block {
  margin-left: 73px;
}
.whatisit .whatisit__block .uprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.whatisit .whatisit__block .uprow .item1 {
  background: url(/img/children_on/union01.png) no-repeat top left;
  padding-top: 22px;
  margin-right: 100px;
}
.whatisit .whatisit__block .uprow .item2 {
  background: url(/img/children_on/union02.png) no-repeat top left;
  padding-top: 22px;
  margin-right: 96px;
}
.whatisit .whatisit__block .uprow .item3 {
  background: url(/img/children_on/union03.png) no-repeat top left;
  padding-top: 22px;
}
.whatisit .whatisit__block .downrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}
.whatisit .whatisit__block .downrow .item1 {
  background: url(/img/children_on/union04.png) no-repeat top left;
  padding-top: 22px;
  margin-right: 104px;
}
.whatisit .whatisit__block .downrow .item2 {
  background: url(/img/children_on/union05.png) no-repeat top left;
  padding-top: 22px;
  margin-right: 116px;
}
.whatisit .whatisit__block .downrow .item3 {
  background: url(/img/children_on/union06.png) no-repeat top left;
  padding-top: 22px;
}

.educations {
  max-width: 1046px;
  margin: 140px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.educations .title {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
.educations .subtitle-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.educations .subtitle-up .left {
  width: 260px;
  margin-right: 20px;
  position: relative;
}
.educations .subtitle-up .left::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #61B5A9;
  position: absolute;
}
.educations .subtitle-up .right {
  width: 260px;
  position: relative;
}
.educations .subtitle-up .right::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #61B5A9;
  position: absolute;
}
.educations .subtitle-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  text-align: center;
  margin: 33px auto 0;
  cursor: pointer;
}
.educations .subtitle-down .left {
  width: 140px;
  margin-right: 20px;
  position: relative;
}
.educations .subtitle-down .left::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #61B5A9;
  position: absolute;
}
.educations .subtitle-down .right {
  width: 140px;
  position: relative;
}
.educations .subtitle-down .right::after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #61B5A9;
  position: absolute;
}
.educations .programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto 0;
}
.educations .programs .program1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 420px;
  border-radius: 30px;
  background: url(/img/children_on/lessons_30minutes_04.png) no-repeat top;
  background-color: #FFFBED;
}
.educations .programs .program1 h3 {
  margin-top: 190px;
  color: #363636;
}
.educations .programs .program1 .price {
  margin-top: 14px;
  margin-bottom: 58px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 0.02em;
}
.educations .programs .program1 .program-btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.educations .programs .program2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 440px;
  border-radius: 30px;
  background: url(/img/children_on/lessons_30minutes08.png) no-repeat top;
  background-color: #FFFBED;
}
.educations .programs .program2 h3 {
  margin-top: 190px;
  color: #363636;
}
.educations .programs .program2 .price {
  margin-top: 14px;
  margin-bottom: 58px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 0.02em;
}
.educations .programs .program2 .program-btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.educations .programs .program3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 420px;
  border-radius: 30px;
  background: url(/img/children_on/lessons_30minutes12.png) no-repeat top;
  background-color: #FFFBED;
}
.educations .programs .program3 h3 {
  margin-top: 190px;
  color: #363636;
}
.educations .programs .program3 .price {
  margin-top: 14px;
  margin-bottom: 58px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 0.02em;
}
.educations .programs .program3 .program-btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.add-form {
  max-width: 1046px;
  background: #FFFBED;
  margin: 140px auto;
  border-radius: 70px;
  background: url(/img/children_on/add_form.png) no-repeat right;
  background-color: #FFFBED;
}
.add-form .add-form__title {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 90px;
  padding-left: 106px;
}
.add-form .add-form__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.add-form .add-form__subtitle .adults {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 106px;
  position: relative;
}
.add-form .add-form__subtitle .adults:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.add-form .add-form__subtitle .children {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}
.add-form .add-form__subtitle .children:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.add-form .form .dropwdown {
  position: relative;
}
.add-form .form .dropdown__btn {
  position: relative;
  display: block;
  text-align: left;
  width: 420px;
  height: 50px;
  margin-top: 30px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/main/down-small.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 23px);
}
.add-form .form .dropdown__list {
  display: none;
  position: absolute;
  text-align: left;
  width: 420px;
  margin-top: 10px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
}
.add-form .form .dropdown__list_active {
  display: block;
}
.add-form .form .dropdown__list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-form .form .dropdown__list-item:first-of-type {
  margin-bottom: 12px;
  margin-top: 12px;
  background: url(/img/main/up-small.png) no-repeat right;
  background-position-x: calc(100% - 23px);
}
.add-form .form .dropdown__input-hidden {
  display: none;
}
.add-form .form .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
.add-form .form .form__radio label {
  margin-left: 17px;
}
.add-form .form .form__radio .radio1 {
  margin-left: 109px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio1:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio1:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .form .form__radio .radio2 {
  margin-left: 67px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio2:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio2:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .under-inputs {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.add-form .input-name {
  margin-left: 106px;
}
.add-form .input-phone {
  margin-left: 20px;
}
.add-form .input-email {
  width: 420px;
  height: 50px;
  margin-left: 106px;
}
.add-form .btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 91px;
}

.footer {
  width: 100%;
  margin-top: 140px;
  background: #FFFBED;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.footer .main {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 69px;
}
.footer .main .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .main .footer__links .links__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__links .link {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.footer .main .footer__links .link:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__links .copy {
  margin-top: 62px;
  font-size: 14px;
}
.footer .main .footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .main .footer__center .center__contacts {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .main .footer__center .footer__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.footer .main .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 195px;
  text-align: end;
  margin-left: 62px;
}
.footer .main .footer__contacts .contacts__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__contacts p:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__contacts .design {
  margin-top: 48px;
  font-size: 14px;
}