@font-face {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  src: url(/fonts/Nextart-Heavy.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  src: url(/fonts/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.history .title .title__rectangle, .smart .title .title__rectangle, .for-adults .info .title .title__rectangle, .for-children .info .title .title__rectangle, .whyss .description .title .title__rectangle, .learn .title .title__rectangle {
  background: #FFECA0;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 11px;
}

.history .title .title__text, .smart .title .title__text, .for-adults .info .title .title__text, .for-children .info .title .title__text, .whyss .description .title .title__text, .learn .title .title__text {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  position: relative;
}

p {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

h3 {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.style-btn:hover {
  -webkit-box-shadow: 0px 8px 10px #1E5F5D66;
          box-shadow: 0px 8px 10px #1E5F5D66;
}
.style-btn:active {
  -webkit-box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.style-input:focus {
  -webkit-box-shadow: 0px 2px 4px #FFECA0;
          box-shadow: 0px 2px 4px #FFECA0;
}

.wrapper-modal-call {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal-call_active {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 50%;
}

.modal-window-call {
  position: absolute;
  max-width: 860px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/main/call-left.png) no-repeat left, url(/img/main/call-right.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window-call .btn-close-modal-call {
  display: block;
  padding-top: 39px;
  padding-left: 546px;
  padding-right: 260px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window-call .modal-window__title {
  padding-top: 47px;
  padding-left: 250px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window-call .inputs {
  padding-left: 250px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window-call .inputs .input {
  margin-top: 14px;
  width: 350px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window-call .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 113px;
  margin-left: 250px;
}

.wrapper-modal-trial {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal-trial_active {
  display: block;
}

.modal-window-trial {
  position: absolute;
  max-width: 1046px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/children_on/add_form.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window-trial .btn-close-modal-trial {
  display: block;
  padding-top: 45px;
  padding-left: 620px;
  padding-right: 372px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window-trial .modal-window-trial__title {
  padding-top: 19px;
  padding-left: 106px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window-trial .add-form__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.modal-window-trial .add-form__subtitle .adults {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 106px;
  position: relative;
}
.modal-window-trial .add-form__subtitle .adults:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.modal-window-trial .add-form__subtitle .adults.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.modal-window-trial .add-form__subtitle .children {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}
.modal-window-trial .add-form__subtitle .children:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.modal-window-trial .add-form__subtitle .children.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.modal-window-trial .form .dropwdown {
  position: relative;
}
.modal-window-trial .form .dropdown__btn {
  position: relative;
  display: block;
  text-align: left;
  width: 420px;
  height: 50px;
  margin-top: 30px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/main/down-small.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 23px);
}
.modal-window-trial .form .dropdown__list {
  display: none;
  position: absolute;
  text-align: left;
  width: 420px;
  margin-top: 10px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
}
.modal-window-trial .form .dropdown__list_active {
  display: block;
}
.modal-window-trial .form .dropdown__list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-window-trial .form .dropdown__list-item:first-of-type {
  margin-bottom: 12px;
  margin-top: 12px;
  background: url(/img/main/up-small.png) no-repeat right;
  background-position-x: calc(100% - 23px);
}
.modal-window-trial .form .dropdown__input-hidden {
  display: none;
}
.modal-window-trial .form .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
.modal-window-trial .form .form__radio label {
  margin-left: 17px;
}
.modal-window-trial .form .form__radio .radio1 {
  margin-left: 109px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.modal-window-trial .form .form__radio .radio1:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.modal-window-trial .form .form__radio .radio1:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.modal-window-trial .form .form__radio .radio2 {
  margin-left: 67px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.modal-window-trial .form .form__radio .radio2:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.modal-window-trial .form .form__radio .radio2:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.modal-window-trial .foradults {
  display: none;
}
.modal-window-trial .foradults.js_active {
  display: block;
}
.modal-window-trial .forchildren {
  display: none;
}
.modal-window-trial .forchildren.js_active {
  display: block;
}
.modal-window-trial .under-inputs {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window-trial .input-name {
  margin-left: 106px;
}
.modal-window-trial .input-phone {
  margin-left: 16px;
}
.modal-window-trial .input-email {
  width: 420px;
  height: 50px;
  margin-left: 106px;
}
.modal-window-trial .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 87px;
  margin-left: 106px;
}

.wrapper-modal {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
}

.wrapper-modal_active {
  display: block;
}

.modal-window {
  position: absolute;
  max-width: 860px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background: #FFFBED;
  border-radius: 70px;
  background: url(/img/main/modal-left.png) no-repeat left, url(/img/main/modal-right.png) no-repeat right;
  background-color: #FFFBED;
}
.modal-window .btn-close-modal {
  display: block;
  padding-top: 39px;
  padding-left: 585px;
  padding-right: 220px;
  text-decoration: underline;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #363636;
}
.modal-window .modal-window__title {
  padding-top: 17px;
  padding-left: 219px;
  font-size: 24px;
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
}
.modal-window .inputs {
  padding-left: 219px;
  margin-top: 20px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-window .inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}
.modal-window .inputs .input {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.modal-window .inputs .input-mail {
  width: 420px;
}
.modal-window .inputs .input-price {
  width: 420px;
  background: url(/img/main/modal-rub.png) no-repeat right;
  background-position-x: calc(100% - 20px);
  background-color: #fff;
}
.modal-window .inputs input[type=number]::-webkit-outer-spin-button,
.modal-window .inputs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-window .modal-window__text {
  padding-right: 242px;
  padding-left: 219px;
  margin-top: 24px;
}
.modal-window .modal-btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 73px;
  margin-left: 219px;
}

.nav {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 60px;
  padding-top: 50px;
}
.nav .nav__logo {
  margin-right: 77px;
}
.nav .nav__logo .burger {
  display: none;
}
.nav .nav__menu {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.nav .nav__menu img {
  margin-right: 46.5px;
}
.nav .nav__menu.adults {
  margin-right: 270px;
}
.nav .children {
  margin-left: 20px;
}

.children-option {
  display: none;
}

.children-option.active {
  position: absolute;
  width: 191px;
  height: 86px;
  background: url(/img/main/option-header.png);
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.children-option.active a {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.children-option.active a:first-of-type {
  margin-top: 8px;
  margin-bottom: 12px;
}

.container-header {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.header .title__text {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: 665px;
  line-height: 66px;
  margin-top: 70px;
  margin-right: 35px;
  margin-bottom: 58px;
}
.header .title__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.subtitle {
  max-width: 562px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learn {
  max-width: 1260px;
  margin: 70px auto 140px;
  background: #FFFBED;
  border-radius: 70px;
  padding: 75px 220px 85px 213px;
}
.learn .title {
  width: 375px;
  position: relative;
}
.learn .learn__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.learn .learn__language .language {
  background: url(/img/main/english.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.learn .learn__language .learn__language_germany {
  background: url(/img/main/germany.png) no-repeat left;
}
.learn .learn__language .learn__language_spain {
  background: url(/img/main/spain.png) no-repeat left;
}
.learn .learn__language .learn__language_france {
  background: url(/img/main/france.png) no-repeat left;
}

.whyss {
  max-width: 1096px;
  margin: 140px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whyss .description {
  width: 340px;
}
.whyss .description .title {
  width: 326px;
  position: relative;
}
.whyss .description .description__text {
  padding-bottom: 24px;
}
.whyss .description__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whyss .left {
  padding-left: 90px;
  line-height: 30px;
}
.whyss .left .item1 {
  background: url(/img/main/why_left01.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.whyss .left .item2 {
  background: url(/img/main/why_left02.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.whyss .left .item3 {
  background: url(/img/main/why_left03.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.whyss .right {
  padding-left: 78px;
  line-height: 30px;
}
.whyss .right .item1 {
  background: url(/img/main/why_right01.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.whyss .right .item2 {
  background: url(/img/main/why_right02.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}
.whyss .right .item3 {
  background: url(/img/main/why_right03.png) no-repeat left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 70px;
}

.add-form {
  max-width: 1046px;
  background: #FFFBED;
  margin: 140px auto;
  border-radius: 70px;
  background: url(/img/children_on/add_form.png) no-repeat right;
  background-color: #FFFBED;
}
.add-form .add-form__title {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-top: 90px;
  padding-left: 106px;
}
.add-form .add-form__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.add-form .add-form__subtitle .adults {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 106px;
  position: relative;
}
.add-form .add-form__subtitle .adults:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.add-form .add-form__subtitle .adults.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.add-form .add-form__subtitle .children {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}
.add-form .add-form__subtitle .children:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #94C6C4;
}
.add-form .add-form__subtitle .children.js_active:after {
  content: "";
  position: absolute;
  width: 200px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #236967;
}
.add-form .form .dropwdown {
  position: relative;
}
.add-form .form .dropdown__btn {
  position: relative;
  display: block;
  text-align: left;
  width: 420px;
  height: 50px;
  margin-top: 30px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/main/down-small.svg) no-repeat right;
  background-color: #fff;
  background-position-x: calc(100% - 23px);
}
.add-form .form .dropdown__list {
  display: none;
  position: absolute;
  text-align: left;
  width: 420px;
  margin-top: 10px;
  margin-left: 106px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #363636;
  border: 1px solid #FFECA0;
  background-color: #fff;
  overflow: hidden;
  z-index: 1000;
}
.add-form .form .dropdown__list_active {
  display: block;
}
.add-form .form .dropdown__list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-form .form .dropdown__list-item:first-of-type {
  margin-bottom: 12px;
  margin-top: 12px;
  background: url(/img/main/up-small.png) no-repeat right;
  background-position-x: calc(100% - 23px);
}
.add-form .form .dropdown__input-hidden {
  display: none;
}
.add-form .form .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
.add-form .form .form__radio label {
  margin-left: 17px;
}
.add-form .form .form__radio .radio1 {
  margin-left: 109px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio1:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio1:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .form .form__radio .radio2 {
  margin-left: 67px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #236967;
  border-radius: 50%;
  position: relative;
}
.add-form .form .form__radio .radio2:checked {
  background: #236967;
  border: 3px solid #FFFBED;
}
.add-form .form .form__radio .radio2:checked::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 1px solid #236967;
}
.add-form .foradults {
  display: none;
}
.add-form .foradults.js_active {
  display: block;
}
.add-form .forchildren {
  display: none;
}
.add-form .forchildren.js_active {
  display: block;
}
.add-form .under-inputs {
  margin-top: 14px;
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #FFECA0;
  border-radius: 10px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.add-form .input-name {
  margin-left: 106px;
}
.add-form .input-phone {
  margin-left: 16px;
}
.add-form .input-email {
  width: 420px;
  height: 50px;
  margin-left: 106px;
}
.add-form .btn {
  padding: 18px 38px;
  background: #236967;
  color: #fff;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 106px;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 91px;
}

.for-children {
  max-width: 1033px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.for-children .info {
  margin-left: 121px;
}
.for-children .info .title {
  width: 150px;
  position: relative;
}
.for-children .info .info__left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.for-children .info .info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.for-children .info .info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 32px;
}
.for-children .info .subtitle {
  margin-bottom: 20px;
}
.for-children .info .text {
  background: url(/img/main/check.png) no-repeat left top;
  background-position-y: 10px;
  padding-left: 20px;
}
.for-children .info .margin {
  margin-bottom: 14px;
}

.for-adults {
  max-width: 1046px;
  margin: 166px auto 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.for-adults .info {
  margin-right: 84px;
}
.for-adults .info .title {
  width: 210px;
  position: relative;
}
.for-adults .info .info__left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.for-adults .info .info__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.for-adults .info .info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 50px;
}
.for-adults .info .subtitle {
  margin-bottom: 20px;
}
.for-adults .info .text {
  background: url(/img/main/check.png) no-repeat left top;
  background-position-y: 10px;
  padding-left: 20px;
}
.for-adults .info .margin {
  margin-bottom: 14px;
}

.smart {
  max-width: 896px;
  margin: 0 auto;
}
.smart .title {
  width: 610px;
  position: relative;
}
.smart .smart__text {
  width: 427px;
  margin-bottom: 49px;
}
.smart .smart__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.smart .smart__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 98px;
  text-align: center;
}
.smart .smart__items .item p {
  line-height: normal;
}
.smart .smart__items .item h3 {
  line-height: 30px;
}
.smart .smart__items .item > p:first-child {
  color: #236967;
}
.smart .smart__items .item > p:last-child {
  line-height: 26px;
}
.smart .smart__items .item-s {
  background: url(/img/main/S.png) no-repeat center top;
}
.smart .smart__items .item-m {
  background: url(/img/main/M.png) no-repeat center top;
}
.smart .smart__items .item-a {
  background: url(/img/main/A.png) no-repeat center top;
}
.smart .smart__items .item-r {
  background: url(/img/main/R.png) no-repeat center top;
}
.smart .smart__items .item-t {
  width: 88px;
  background: url(/img/main/T.png) no-repeat center top;
}
.smart .example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 97px;
}
.smart .example .left-content {
  margin-left: 53px;
}
.smart .example .left-content .example__text {
  margin-top: 24px;
}
.smart .target-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 551px;
  margin-top: 90px;
}
.smart .target-1 .target-block {
  background: url(/img/main/1.png) no-repeat;
  margin-right: 87px;
  padding-top: 15px;
  padding-left: 20px;
}
.smart .target-1 .target-1__title {
  width: 202px;
  margin-bottom: 20px;
  line-height: 30px;
}
.smart .target-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 551px;
  margin-top: 90px;
  margin-left: auto;
}
.smart .target-2 .target-block {
  background: url(/img/main/2.png) no-repeat;
  margin-left: 87px;
  padding-top: 20px;
  padding-left: 25px;
}
.smart .target-2 .target-2__title {
  width: 149px;
  margin-bottom: 20px;
}
.smart .target-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 551px;
  margin-top: 90px;
}
.smart .target-3 .target-block {
  background: url(/img/main/3.png) no-repeat;
  margin-right: 87px;
  padding-top: 15px;
  padding-left: 20px;
}
.smart .target-3 .target-3__title {
  width: 202px;
  margin-bottom: 20px;
  line-height: 30px;
}
.smart .target-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 551px;
  margin-top: 90px;
  margin-left: auto;
}
.smart .target-4 .target-block {
  background: url(/img/main/4.png) no-repeat;
  margin-left: 87px;
  padding-top: 20px;
  padding-left: 25px;
}
.smart .target-4 .target-4__title {
  width: 210px;
  margin-bottom: 20px;
}
.smart .target-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 551px;
  margin-top: 90px;
}
.smart .target-5 .target-block {
  background: url(/img/main/5.png) no-repeat;
  margin-right: 87px;
  padding-top: 10px;
  padding-left: 20px;
}
.smart .target-5 .target-5__title {
  width: 202px;
  margin-bottom: 20px;
  line-height: 30px;
}
.smart .target-5 .target-5__text {
  width: 213px;
}

.history {
  max-width: 874px;
  margin: 0 auto;
}
.history .title {
  width: 474px;
  position: relative;
}
.history .line {
  width: 100%;
  position: relative;
}
.history .line .form-history__history-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.history .line .form-history__history-line .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.history .line .form-history__history-line .date .date-label {
  margin-bottom: 11px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.history .line .form-history__history-line .date .radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #236967;
  border-radius: 50%;
}
.history .line .form-history__history-line .date .radio:checked {
  background: #236967;
  -webkit-box-shadow: 2px 2px 10px #236967, -2px -2px 10px #236967;
          box-shadow: 2px 2px 10px #236967, -2px -2px 10px #236967;
}
.history .line .form-history__rectangle {
  background: #61B5A9;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
}
.history .description {
  max-width: 702px;
  margin: 60px auto;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history .description .description__block {
  margin-left: 82px;
}
.history .description .description__block .description__title {
  font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 13px;
}
.history .description.js_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  width: 100%;
  margin-top: 140px;
  background: #FFFBED;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.footer .main {
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 69px;
}
.footer .main .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .main .footer__links .links__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__links .link {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.footer .main .footer__links .link:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__links .copy {
  margin-top: 62px;
  font-size: 14px;
}
.footer .main .footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .main .footer__center .center__contacts {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer .main .footer__center .footer__btn {
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  color: white;
  font-family: "Raleway-Semibold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.footer .main .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 195px;
  text-align: end;
  margin-left: 62px;
}
.footer .main .footer__contacts .contacts__title {
  margin-bottom: 17px;
  margin-top: 15px;
}
.footer .main .footer__contacts p:not(:last-of-type) {
  margin-bottom: 14px;
}
.footer .main .footer__contacts .design {
  margin-top: 48px;
  font-size: 14px;
}
.footer .footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 69px;
}

.burger-menu {
  display: none;
  width: 100%;
  position: absolute;
  background: #FFFBED;
  border-radius: 0 0 70px 70px;
}
.burger-menu .burger-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px 0px 20px;
  margin-bottom: 40px;
}
.burger-menu .burger-menu__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.burger-menu .burger-menu__main .link {
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
}
.burger-menu .burger-menu__main .link:last-of-type {
  margin-bottom: 52px;
}
.burger-menu .burger-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 52px;
}
.burger-menu .burger-menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 106px 60px;
}
.burger-menu .burger-menu__footer .contacts__title {
  margin-bottom: 20px;
  font-size: 16px;
}
.burger-menu .burger-menu__footer p {
  font-size: 14px;
}
.burger-menu .burger-menu__footer p:not(:last-child) {
  margin-bottom: 12px;
}
.burger-menu.js_active {
  display: block;
}

@media screen and (max-width: 575px) {
  .nav {
    width: 100%;
    margin-bottom: 0;
  }
  .nav .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }
  .nav .nav__logo .burger {
    display: block;
    width: 20px;
    height: 15px;
  }
  .nav .nav__logo img {
    width: 200px;
    height: 40px;
  }
  .nav .nav__main {
    display: none;
  }
  .nav .nav__menu.adults {
    display: none;
  }
  .nav .contacts {
    display: none;
  }

  .container-header {
    width: 100%;
  }
  .container-header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-header .header .title {
    margin-left: 20px;
  }
  .container-header .header .title .title__text {
    font-size: 30px;
    width: 295px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .container-header .header .title .title__btn {
    font-size: 16px;
    padding: 16px 38px;
  }
  .container-header .header .header__logo {
    width: 100%;
    margin-top: 60px;
  }
  .container-header .header .header__logo img {
    width: 100%;
  }
  .container-header .subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 72px 80px 91px;
  }
  .container-header .subtitle img:first-of-type {
    margin-bottom: 60px;
  }

  .learn {
    width: 100%;
    height: 460px;
    padding-right: 87px;
    padding-left: 85px;
  }
  .learn .title {
    width: 200px;
  }
  .learn .title .title__text {
    font-size: 20px;
  }
  .learn .learn__language {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30px;
  }
  .learn .learn__language .language {
    margin-bottom: 30px;
    font-size: 16px;
    background-size: contain;
    line-height: 30px;
  }

  .whyss {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .whyss .description {
    padding-left: 20px;
  }
  .whyss .description .title .title__text {
    font-size: 20px;
  }
  .whyss .description .title .title__rectangle {
    height: 8px;
    width: 270px;
  }
  .whyss .description .description__text {
    font-size: 14px;
  }
  .whyss .description__answers {
    padding-left: 20px;
    padding-right: 20px;
  }
  .whyss .description__answers h3 {
    font-size: 16px;
  }
  .whyss .description__answers .item1, .whyss .description__answers .item2, .whyss .description__answers .item3 {
    width: 240px;
    margin-bottom: 20px;
  }

  .add-form {
    width: 100%;
    margin-top: 0;
    border-radius: 50px;
    height: 880px;
    background: url(/img/main/add_form_mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .add-form .add-form__title {
    font-size: 20px;
    padding-top: 65px;
    padding-left: 20px;
    width: 300px;
  }
  .add-form .add-form__subtitle .adults {
    width: 160px;
    margin-left: 20px;
    font-size: 16px;
  }
  .add-form .add-form__subtitle .adults:after {
    width: 160px;
  }
  .add-form .add-form__subtitle .adults.js_active:after {
    width: 160px;
  }
  .add-form .add-form__subtitle .children {
    width: 160px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
  }
  .add-form .add-form__subtitle .children:after {
    width: 160px;
  }
  .add-form .add-form__subtitle .children.js_active:after {
    width: 160px;
  }
  .add-form .form .dropdown__btn {
    width: 335px;
    margin-left: 20px;
  }
  .add-form .form .dropdown__list {
    width: 335px;
    margin-left: 20px;
  }
  .add-form .form .form__radio .radio1 {
    margin-left: 20px;
  }
  .add-form .form .form__radio .radio2 {
    margin-left: 30px;
  }
  .add-form .under-inputs {
    width: 158px;
  }
  .add-form .input-name {
    margin-left: 20px;
  }
  .add-form .input-phone {
    margin-left: 16px;
  }
  .add-form .input-email {
    width: 335px;
    margin-left: 20px;
  }
  .add-form .btn {
    padding: 16px 34px;
    font-size: 16px;
    margin-bottom: 60px;
  }

  .for-children {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .for-children img {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
  }
  .for-children .info {
    margin-left: 20px;
  }
  .for-children .info .title .title__text {
    font-size: 20px;
  }
  .for-children .info .title .title__rectangle {
    height: 8px;
    width: 120px;
  }
  .for-children .info__left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .for-children .info__left-right .info__right {
    margin-top: 30px;
    margin-left: 0px;
  }

  .for-adults {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .for-adults img {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .for-adults .info {
    margin-left: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .for-adults .info .title .title__text {
    font-size: 20px;
  }
  .for-adults .info .title .title__rectangle {
    height: 8px;
    width: 170px;
  }
  .for-adults .info__left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .for-adults .info__left-right .info__right {
    margin-top: 30px;
    margin-left: 0;
  }

  .smart {
    width: 100%;
  }
  .smart .title {
    width: 230px;
    margin-left: 20px;
  }
  .smart .title .title__text {
    font-size: 20px;
    line-height: 28px;
  }
  .smart .title .title__rectangle {
    height: 8px;
    width: 190px;
  }
  .smart .smart__text {
    font-size: 14px;
    margin-left: 20px;
    width: 335px;
  }
  .smart .smart__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .smart .smart__items .item {
    margin-bottom: 10px;
  }
  .smart .example {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .smart .example img {
    width: 100%;
  }
  .smart .example .left-content {
    width: 100%;
    margin-left: 20px;
    margin-top: 60px;
  }
  .smart .target-1, .smart .target-2, .smart .target-3, .smart .target-4, .smart .target-5 {
    margin-top: 37px;
    width: 100%;
  }
  .smart .target-1 .target-block, .smart .target-2 .target-block, .smart .target-3 .target-block, .smart .target-4 .target-block, .smart .target-5 .target-block {
    margin-left: 10px;
  }
  .smart .target-1 .target-block p, .smart .target-2 .target-block p, .smart .target-3 .target-block p, .smart .target-4 .target-block p, .smart .target-5 .target-block p {
    font-size: 14px;
    width: 320px;
  }
  .smart .target-1 img, .smart .target-2 img, .smart .target-3 img, .smart .target-4 img, .smart .target-5 img {
    display: none;
  }
  .smart .target-1 {
    margin-top: 100px;
  }
  .smart .target-5 {
    margin-bottom: 100px;
  }

  .history {
    width: 100%;
  }
  .history .title {
    width: 230px;
    margin-left: 20px;
  }
  .history .title .title__text {
    font-size: 20px;
    line-height: 28px;
  }
  .history .title .title__rectangle {
    height: 8px;
    width: 220px;
  }
  .history .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .history .description img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 10px;
    margin-top: 40px;
  }
  .history .description .description__block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 20px;
    width: 232px;
  }

  .footer {
    width: 100%;
  }
  .footer .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .main .footer__links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer .main .footer__center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
  .footer .main .footer__center .footer__btn {
    padding: 16px 34px;
    font-size: 16px;
  }
  .footer .main .footer__center .center__contacts {
    width: 254px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .main .footer__contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding-bottom: 60px;
  }
  .footer .footer__down p {
    width: 150px;
    font-size: 12px;
  }

  .wrapper-modal-call {
    width: 375px;
  }

  .modal-window-call {
    width: 375px;
    border-radius: 50px;
    background: url(/img/main/modal-call-mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .modal-window-call .btn-close-modal-call {
    padding-top: 39px;
    padding-left: 280px;
    padding-right: 0;
  }
  .modal-window-call .modal-window__title {
    padding-left: 20px;
    font-size: 20px;
  }
  .modal-window-call .inputs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-window-call .inputs .input {
    margin-top: 14px;
    width: 335px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid #FFECA0;
    border-radius: 10px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .modal-window-call .modal-btn {
    padding: 16px 34px;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 350px;
  }

  .wrapper-modal-trial {
    width: 375px;
  }

  .modal-window-trial {
    width: 375px;
    height: 876px;
    border-radius: 50px;
    background: url(/img/children_on/add_form_mobile.png) no-repeat bottom;
    background-color: #FFFBED;
  }
  .modal-window-trial .btn-close-modal-trial {
    padding-left: 300px;
    padding-right: 0;
  }
  .modal-window-trial .modal-window-trial__title {
    padding-left: 20px;
    font-size: 20px;
  }
  .modal-window-trial .add-form__subtitle .adults {
    width: 160px;
    margin-left: 20px;
    font-size: 16px;
  }
  .modal-window-trial .add-form__subtitle .adults:after {
    width: 160px;
  }
  .modal-window-trial .add-form__subtitle .adults.js_active:after {
    width: 160px;
  }
  .modal-window-trial .add-form__subtitle .children {
    width: 160px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
  }
  .modal-window-trial .add-form__subtitle .children:after {
    width: 160px;
  }
  .modal-window-trial .add-form__subtitle .children.js_active:after {
    width: 160px;
  }
  .modal-window-trial .form .dropdown__btn {
    height: 42px;
    width: 335px;
    margin-left: 20px;
  }
  .modal-window-trial .form .dropdown__list {
    width: 335px;
    margin-left: 20px;
  }
  .modal-window-trial .form .form__radio .radio1 {
    margin-left: 20px;
  }
  .modal-window-trial .form .form__radio .radio2 {
    margin-left: 30px;
  }
  .modal-window-trial .under-inputs {
    width: 158px;
    height: 42px;
  }
  .modal-window-trial .input-name {
    margin-left: 20px;
  }
  .modal-window-trial .input-phone {
    margin-left: 16px;
  }
  .modal-window-trial .input-email {
    width: 335px;
    margin-left: 20px;
  }
  .modal-window-trial .modal-btn {
    padding: 16px 34px;
    font-size: 16px;
  }
}