@import "fonts.scss";
@import "nullstyle.scss";

$raleway-l: "Raleway-Light", Arial, Helvetica, sans-serif;
$raleway-m: "Raleway-Medium", Arial, Helvetica, sans-serif;
$raleway-sb: "Raleway-Semibold", Arial, Helvetica, sans-serif;
$nextart-h: "Nextart-Heavy", Arial, Helvetica, sans-serif;

$greenclr: #236967;
$redclr: #FE7167;
$orangeclr: #FC8B4C;
$yellowclr: #FFCC1A;
$l-yellowclr: #FFFBED;
$d-grayclr: #363636;
$beigeclr: #FDE9D4;
$mintclr: #61B5A9;

%bgrectangle {
    background: #FFECA0;
    width: 100%;
    height: 10px;            
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 11px;
}

%yellowtitle {
    margin-bottom: 40px;
    font-size: 24px;
    font-family: $nextart-h;
    position: relative;
}

p {
    font-family: $raleway-l;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
}

h3 {
    font-family: $raleway-m;
    font-size: 18px;
    line-height: 30px;
}

.style-btn {
    &:hover {
        box-shadow: 0px 8px 10px #1E5F5D66;
    }
    &:active {
        box-shadow: inset 0px 0px 8px 8px rgb(0,0,0,0.15);
    }
}

.style-input {
    &:focus {
        box-shadow: 0px 2px 4px #FFECA0;
    }
}

.nav {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 60px;
    .nav__logo {
        margin-right: 77px;
        cursor: pointer;
    }
    .nav__menu {
        font-family: $raleway-m;
        font-size: 16px;
        img {
            margin-right: 46.5px;
        }
        &.adults {
            margin-right: 270px;
        }
    }
    .children {
        margin-left: 20px;
    }
}

.children-option {
    display: none;
}

.children-option.active {
    position: absolute;
    width: 191px;
    height: 86px;
    background: url(/img/main/option-header.png);
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        font-family: $raleway-m;
        font-size: 16px;
    }
    a:first-of-type {
        margin-bottom: 12px;
    }
}

.container-header {
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title__text {
        font-family: $nextart-h;
        font-size: 50px;
        width: 560px;
        line-height: 66px;
        margin-right: 35px;
    }
    .title__subtext {
        margin-top: 20px;
        margin-bottom: 58px;
        font-size: 22px;
        color: $d-grayclr;
    }
    .title__btn {
        border-radius: 30px;
        padding: 18px 38px;
        background-color: $greenclr;
        color: white;
        font-family: $raleway-sb;
        font-size: 18px;
    }
}

.subtitle {
    max-width: 857px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.learn {
    max-width: 1260px;
    margin: 140px auto 140px;
    background: $l-yellowclr;
    border-radius: 70px;
    padding: 75px 220px 85px 213px;
    .title {
        width: 375px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .learn__language {
        display: flex;
        justify-content: space-between;
        height: 40px;
        .learn__language_english {
            background: url(/img/children_on/english.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_germany {
            background: url(/img/children_on/germany.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_spain {
            background: url(/img/children_on/spain.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_france {
            background: url(/img/children_on/france.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
    }
}

.target {
    max-width: 979px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .right-block {
        margin-left: 88px;
    }
    .title1 {
        width: 400px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
            margin-bottom: 15px;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .title2 {
        width: 330px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
}

.todo {
    max-width: 874px;
    margin: 140px auto 0;
    .title {
        width: 320px;
        margin: 0 auto 50px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .todo__lists {
        display: flex;
        justify-content: space-between;
        .todo-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3 {
                margin-top: 20px;
            }
        }
        .item1 {
            width: 145px;
        }
        .item2 {
            width: 152px;
        }
        .item3 {
            width: 125px;
        }
        .item4 {
            width: 169px;
        }
    }
}

.results {
    max-width: 1173px;
    display: flex;
    margin: 140px auto 0;
    .title {
        width: 76px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .left-side {
        width: 450px;
        margin-right: 125px;
        justify-content: start;
    }
    .right-side {
        display: flex;
        justify-content: space-between;
        margin-top: 58px;
        .result01 {
            background: url(/img/adults/results01.png) no-repeat left;
            padding-left: 76px;
        }
        .result02 {
            background: url(/img/adults/results02.png) no-repeat left;
            padding-left: 76px;
        }
        .result03 {
            background: url(/img/adults/results03.png) no-repeat left;
            padding-left: 76px;
        }
    }
}

.easy {
    max-width: 1260px;
    background: $l-yellowclr;
    border-radius: 70px;
    margin: 0 auto;
    margin-top: 140px;
    .easy__main {
        padding: 100px 243px 96px 197.5px;
        display: flex;
        align-items: center;
        .left-block {
            width: 500px;
            margin-right: 94px;
            .title1 {
                width: 460px;
                position: relative;
                .title__text {
                    @extend %yellowtitle;
                    font-size: 30px;
                    margin-bottom: 14px;
                }
                .title__rectangle {
                    @extend %bgrectangle;
                    height: 14px;
                }
            }
            .title2 {
                width: 500px;
                position: relative;
                .title__text {
                    @extend %yellowtitle;
                    font-size: 30px;
                    margin-bottom: 30px;
                }
                .title__rectangle {
                    @extend %bgrectangle;
                    height: 14px;
                }
            }
            p {
                margin-bottom: 58px;
                width: 320px;
            }
        }
        .btn {
            border-radius: 30px;
            padding: 18px 38px;
            background-color: $greenclr;
            color: white;
            font-family: $raleway-sb;
            font-size: 18px;
        }
    }
}

.learning {
    max-width: 1258px;
    margin: 140px auto 0;
    .title {
        width: 250px;
        margin: 0 auto;
        position: relative;
        .title__text {
            @extend %yellowtitle;
            margin-bottom: 30px;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .learning__subtitle {
        text-align: center;
    }
    .options {
        display: flex;
        justify-content: space-evenly;
        margin-top: 87px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: $mintclr;
            top: 0;
            left: 0;
            margin-top: 14px;
        }
        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 234px;
            .option__radio {
                appearance: none;
                width: 30px;
                height: 30px;
                border: 2px solid $mintclr;
                border-radius: 50%;
                &:checked {
                    background: $mintclr;
                    box-shadow: 2px 2px 10px $mintclr, -2px -2px 10px $mintclr;
                }
            }
            h3 {
                margin-top: 30px;
            }
            .base {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 234px;
                height: 146px;
                background: url(/img/adults/base.png);
                margin-top: 40px;
                padding-left: 42px;
                .base-radio {
                    appearance: none;
                    width: 12px;
                    height: 12px;
                    border: 1px solid $greenclr;
                    border-radius: 50%;
                    position: relative;
                    &:checked {
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -3px;
                            right: -3px;
                            width: 200%;
                            height: 200%;
                            border-radius: 50%;
                            border: 1px solid $greenclr;
                        }
                        background: $greenclr;
                        border: 3px solid #FFECA0;
                    }
                }
                div {
                    display: flex;
                    align-items: center;
                    margin-top: 14px;
                    p {
                        margin-left: 14px;
                    }
                }
                div:first-of-type {
                    margin-top: 25px;
                }
            }
        }
    }
}

.add-form {
    max-width: 1046px;
    background: $l-yellowclr;
    margin: 140px auto;
    border-radius: 70px;
    background: url(/img/children_on/add_form.png) no-repeat right;
    background-color: $l-yellowclr;
    .add-form__title {
        font-family: $nextart-h;
        font-size: 24px;
        padding-top: 90px;
        padding-left: 106px;
    }
    .add-form__subtitle {
        display: flex;
        cursor: pointer;
        .adults {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 106px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
        }
        .children {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
    }
    .form {
        .dropwdown {
            position: relative;
        }
        .dropdown__btn {
            position: relative;
            display: block;
            text-align: left;
            width: 420px;
            height: 50px;
            margin-top: 30px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            appearance: none;
            background: url(/img/main/down-small.svg) no-repeat right;
            background-color: #fff;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__list {
            display: none;
            position: absolute;
            text-align: left;
            width: 420px;
            margin-top: 10px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            background-color: #fff;
            overflow: hidden;
            z-index: 1000;
        }
        .dropdown__list_active {
            display: block;
        }
        .dropdown__list-item {
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .dropdown__list-item:first-of-type {
            margin-bottom: 12px;
            margin-top: 12px;
            background: url(/img/main/up-small.png) no-repeat right;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__input-hidden {
            display: none;
        }
        .form__radio {
            display: flex;
            align-items: center;
            font-family: $raleway-l;
            font-size: 16px;
            margin-top: 14px;
            label {
                margin-left: 17px;
            }
            .radio1 {
                margin-left: 109px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
            .radio2 {
                margin-left: 67px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
        }
    }
    .under-inputs {
        margin-top: 14px;
        width: 200px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #FFECA0;
        border-radius: 10px;
        font-family: $raleway-l;
        font-size: 16px;
    }
    .input-name {
        margin-left: 106px;
    }
    .input-phone {
        margin-left: 20px;
    }
    .input-email {
        width: 420px;
        height: 50px;
        margin-left: 106px;
    }
    .btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 91px;
    }
}

.footer {
    width: 100%;
    margin-top: 140px;
    background: $l-yellowclr;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    .main {
        max-width: 1260px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 65px;
        padding-bottom: 69px;
        .footer__links {
            display: flex;
            flex-direction: column;
            .links__title {
                margin-bottom: 17px;
                margin-top: 15px;
            }
            .link {
                font-family: $raleway-l;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
            }
            .link:not(:last-of-type) {
                margin-bottom: 14px;
            }
            .copy {
                margin-top: 62px;
                font-size: 14px;
            }
        }
        .footer__center {
            display: flex;
            flex-direction: column;
            align-items: center;
            .center__contacts {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .footer__btn {
                border-radius: 30px;
                padding: 18px 38px;
                background-color: $greenclr;
                color: white;
                font-family: $raleway-sb;
                font-size: 18px;
            }
        }
        .footer__contacts {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 195px;
            text-align: end;
            margin-left: 62px;
            .contacts__title {
                margin-bottom: 17px;
                margin-top: 15px;
            }
            p:not(:last-of-type) {
                margin-bottom: 14px;
            }
            .design {
                margin-top: 48px;
                font-size: 14px;
            }
        }
    }
}