@import "fonts.scss";
@import "nullstyle.scss";

$raleway-l: "Raleway-Light", Arial, Helvetica, sans-serif;
$raleway-m: "Raleway-Medium", Arial, Helvetica, sans-serif;
$raleway-sb: "Raleway-Semibold", Arial, Helvetica, sans-serif;
$nextart-h: "Nextart-Heavy", Arial, Helvetica, sans-serif;

$greenclr: #236967;
$redclr: #FE7167;
$orangeclr: #FC8B4C;
$yellowclr: #FFCC1A;
$l-yellowclr: #FFFBED;
$d-grayclr: #363636;
$beigeclr: #FDE9D4;
$mintclr: #61B5A9;

%bgrectangle {
    background: #FFECA0;
    width: 100%;
    height: 10px;            
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 11px;
}

%yellowtitle {
    margin-bottom: 40px;
    font-size: 24px;
    font-family: $nextart-h;
    position: relative;
}

p {
    font-family: $raleway-l;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
}

h3 {
    font-family: $raleway-m;
    font-size: 18px;
    line-height: 30px;
}

.style-btn {
    &:hover {
        box-shadow: 0px 8px 10px #1E5F5D66;
    }
    &:active {
        box-shadow: inset 0px 0px 8px 8px rgb(0,0,0,0.15);
    }
}

.style-input {
    &:focus {
        box-shadow: 0px 2px 4px #FFECA0;
    }
}

.wrapper-modal-call {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
}

.wrapper-modal-call_active {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    opacity: 50%;
}

.modal-window-call {
    position: absolute;
    max-width: 860px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $l-yellowclr;
    border-radius: 70px;
    background: url(/img/main/call-left.png) no-repeat left, url(/img/main/call-right.png) no-repeat right;
    background-color: $l-yellowclr;
    .btn-close-modal-call {
        display: block;
        padding-top: 39px;
        padding-left: 546px;
        padding-right: 260px;
        text-decoration: underline;
        font-family: $raleway-l;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #363636;
    }
    .modal-window__title {
        padding-top: 47px;
        padding-left: 250px;
        font-size: 24px;
        font-family: $nextart-h;
    }
    .inputs {
        padding-left: 250px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .input {
            margin-top: 14px;
            width: 350px;
            height: 50px;
            padding-left: 20px;
            border: 1px solid #FFECA0;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
        }
    }
    .modal-btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 113px;
        margin-left: 250px;
    }
}

.wrapper-modal-trial {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
}

.wrapper-modal-trial_active {
    display: block;
}

.modal-window-trial {
    position: absolute;
    max-width: 1046px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $l-yellowclr;
    border-radius: 70px;
    background: url(/img/children_on/add_form.png) no-repeat right;
    background-color: $l-yellowclr;
    .btn-close-modal-trial {
        display: block;
        padding-top: 47px;
        padding-left: 620px;
        padding-right: 372px;
        text-decoration: underline;
        font-family: $raleway-l;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #363636;
    }
    .modal-window-trial__title {
        padding-top: 19px;
        padding-left: 106px;
        font-size: 24px;
        font-family: $nextart-h;
    }
    .add-form__subtitle {
        display: flex;
        cursor: pointer;
        .adults {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 106px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
        .children {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
    }
    .form {
        .dropwdown {
            position: relative;
        }
        .dropdown__btn {
            position: relative;
            display: block;
            text-align: left;
            width: 420px;
            height: 50px;
            margin-top: 30px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            appearance: none;
            background: url(/img/main/down-small.svg) no-repeat right;
            background-color: #fff;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__list {
            display: none;
            position: absolute;
            text-align: left;
            width: 420px;
            margin-top: 10px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            background-color: #fff;
            overflow: hidden;
            z-index: 1000;
        }
        .dropdown__list_active {
            display: block;
        }
        .dropdown__list-item {
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .dropdown__list-item:first-of-type {
            margin-bottom: 12px;
            margin-top: 12px;
            background: url(/img/main/up-small.png) no-repeat right;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__input-hidden {
            display: none;
        }
        .form__radio {
            display: flex;
            align-items: center;
            font-family: $raleway-l;
            font-size: 16px;
            margin-top: 14px;
            label {
                margin-left: 17px;
            }
            .radio1 {
                margin-left: 109px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                z-index: 5;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
            .radio2 {
                margin-left: 67px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
        }
    }
    .foradults {
        display: none;
    }
    .foradults.js_active {
        display: block;
    }
    .forchildren {
        display: none;
    }
    .forchildren.js_active {
        display: block;
    }
    .under-inputs {
        margin-top: 14px;
        width: 200px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #FFECA0;
        border-radius: 10px;
        font-family: $raleway-l;
        font-size: 16px;
    }
    .input-name {
        margin-left: 106px;
    }
    .input-phone {
        margin-left: 16px;
    }
    .input-email {
        width: 420px;
        height: 50px;
        margin-left: 106px;
    }
    .modal-btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 85px;
        margin-left: 106px;
    }
}

.wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
}

.wrapper-modal_active {
    display: block;
}

.modal-window {
    position: absolute;
    max-width: 860px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $l-yellowclr;
    border-radius: 70px;
    background: url(/img/main/modal-left.png) no-repeat left, url(/img/main/modal-right.png) no-repeat right;
    background-color: $l-yellowclr;
    .btn-close-modal {
        display: block;
        padding-top: 39px;
        padding-left: 585px;
        padding-right: 220px;
        text-decoration: underline;
        font-family: $raleway-l;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #363636;
    }
    .modal-window__title {
        padding-top: 17px;
        padding-left: 219px;
        font-size: 24px;
        font-family: $nextart-h;
    }
    .inputs {
        padding-left: 219px;
        margin-top: 20px;
        width: 420px;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            justify-content: space-between;
            width: 420px;
        }
        .input {
            margin-top: 14px;
            width: 200px;
            height: 50px;
            padding-left: 20px;
            border: 1px solid #FFECA0;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
        }
        .input-mail {
            width: 420px;
        }
        .input-price {
            width: 420px;
            background: url(/img/main/modal-rub.png) no-repeat right;
            background-position-x: calc(100% - 20px);
            background-color: #fff;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .modal-window__text {
        padding-right: 242px;
        padding-left: 219px;
        margin-top: 24px;
    }
    .modal-btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 73px;
        margin-left: 219px;
    }
}

.nav {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 60px;
    padding-top: 50px;
    .nav__logo {
        margin-right: 77px;
        cursor: pointer;
        .burger {
            display: none;
        }
    }
    .nav__menu {
        font-family: $raleway-m;
        font-size: 16px;
        img {
            margin-right: 46.5px;
        }
        &.adults {
            margin-right: 270px;
        }
    }
    .children {
        margin-left: 20px;
    }
}

.children-option {
    display: none;
}

.children-option.active {
    position: absolute;
    width: 191px;
    height: 86px;
    background: url(/img/main/option-header.png);
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        font-family: $raleway-m;
        font-size: 16px;
    }
    a:first-of-type {
        margin-top: 8px;
        margin-bottom: 12px;
    }
}

.container-header {
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title__text {
        font-family: $nextart-h;
        font-size: 50px;
        width: 560px;
        line-height: 66px;
        margin-right: 35px;
    }
    .title__subtext {
        margin-top: 20px;
        margin-bottom: 58px;
        font-size: 22px;
        color: $d-grayclr;
    }
    .title__btn {
        border-radius: 30px;
        padding: 18px 38px;
        background-color: $greenclr;
        color: white;
        font-family: $raleway-sb;
        font-size: 18px;
    }
}

.subtitle {
    max-width: 857px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.learn {
    max-width: 1260px;
    margin: 140px auto 140px;
    background: $l-yellowclr;
    border-radius: 70px;
    padding: 75px 220px 85px 213px;
    .title {
        width: 375px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .learn__language {
        display: flex;
        justify-content: space-between;
        height: 40px;
        .learn__language_english {
            background: url(/img/children_on/english.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_germany {
            background: url(/img/children_on/germany.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_spain {
            background: url(/img/children_on/spain.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_france {
            background: url(/img/children_on/france.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
    }
}

.target {
    max-width: 979px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .right-block {
        margin-left: 88px;
    }
    .title1 {
        width: 400px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
            margin-bottom: 15px;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .title2 {
        width: 330px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
}

.todo {
    max-width: 874px;
    margin: 140px auto 0;
    .title {
        width: 320px;
        margin: 0 auto 50px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .todo__lists {
        display: flex;
        justify-content: space-between;
        .todo-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3 {
                margin-top: 20px;
            }
        }
        .item1 {
            width: 145px;
        }
        .item2 {
            width: 152px;
        }
        .item3 {
            width: 125px;
        }
        .item4 {
            width: 169px;
        }
    }
}

.results {
    max-width: 1173px;
    display: flex;
    margin: 140px auto 0;
    .title {
        width: 76px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .left-side {
        width: 450px;
        margin-right: 125px;
        justify-content: start;
    }
    .right-side {
        display: flex;
        justify-content: space-between;
        margin-top: 58px;
        .result01 {
            background: url(/img/adults/results01.png) no-repeat left;
            padding-left: 76px;
        }
        .result02 {
            background: url(/img/adults/results02.png) no-repeat left;
            padding-left: 76px;
        }
        .result03 {
            background: url(/img/adults/results03.png) no-repeat left;
            padding-left: 76px;
        }
    }
}

.easy {
    max-width: 1260px;
    background: $l-yellowclr;
    border-radius: 70px;
    margin: 0 auto;
    margin-top: 140px;
    .easy__main {
        padding: 100px 243px 96px 197.5px;
        display: flex;
        align-items: center;
        .left-block {
            width: 500px;
            margin-right: 94px;
            .title1 {
                width: 460px;
                position: relative;
                .title__text {
                    @extend %yellowtitle;
                    font-size: 30px;
                    margin-bottom: 14px;
                }
                .title__rectangle {
                    @extend %bgrectangle;
                    height: 14px;
                }
            }
            .title2 {
                width: 500px;
                position: relative;
                .title__text {
                    @extend %yellowtitle;
                    font-size: 30px;
                    margin-bottom: 30px;
                }
                .title__rectangle {
                    @extend %bgrectangle;
                    height: 14px;
                }
            }
            p {
                margin-bottom: 58px;
                width: 320px;
            }
        }
        .btn {
            border-radius: 30px;
            padding: 18px 38px;
            background-color: $greenclr;
            color: white;
            font-family: $raleway-sb;
            font-size: 18px;
        }
    }
}

.learning {
    max-width: 1258px;
    margin: 140px auto 0;
    .title {
        width: 250px;
        margin: 0 auto;
        position: relative;
        .title__text {
            @extend %yellowtitle;
            margin-bottom: 30px;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .learning__subtitle {
        text-align: center;
    }
    .options {
        display: flex;
        justify-content: space-evenly;
        margin-top: 87px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: $mintclr;
            top: 0;
            left: 0;
            margin-top: 14px;
        }
        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 234px;
            .option__radio {
                appearance: none;
                width: 30px;
                height: 30px;
                border: 2px solid $mintclr;
                border-radius: 50%;
                &:checked {
                    background: $mintclr;
                    box-shadow: 2px 2px 10px $mintclr, -2px -2px 10px $mintclr;
                }
            }
            h3 {
                margin-top: 30px;
            }
            .base {
                display: none;
                flex-direction: column;
                justify-content: center;
                width: 234px;
                height: 146px;
                background: url(/img/adults/base.png);
                margin-top: 40px;
                padding-left: 35px;
                &.middle {
                    div {
                        margin-top: 2px;
                    }
                }
                .base-radio {
                    appearance: none;
                    width: 12px;
                    height: 12px;
                    border: 1px solid $greenclr;
                    border-radius: 50%;
                    position: relative;
                    &:checked {
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -3px;
                            right: -3px;
                            width: 200%;
                            height: 200%;
                            border-radius: 50%;
                            border: 1px solid $greenclr;
                        }
                        background: $greenclr;
                        border: 3px solid #FFECA0;
                    }
                }
                div {
                    display: flex;
                    align-items: center;
                    margin-top: 14px;
                    p {
                        margin-left: 14px;
                    }
                }
                div:first-of-type {
                    margin-top: 25px;
                }
            }
            .base.js_active {
                display: flex;
            }
        }
    }
}

.add-form {
    max-width: 1046px;
    background: $l-yellowclr;
    margin: 140px auto;
    border-radius: 70px;
    background: url(/img/children_on/add_form.png) no-repeat right;
    background-color: $l-yellowclr;
    .add-form__title {
        font-family: $nextart-h;
        font-size: 24px;
        padding-top: 90px;
        padding-left: 106px;
    }
    .add-form__subtitle {
        display: flex;
        cursor: pointer;
        .adults {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 106px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
        .children {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
    }
    .form {
        .dropwdown {
            position: relative;
        }
        .dropdown__btn {
            position: relative;
            display: block;
            text-align: left;
            width: 420px;
            height: 50px;
            margin-top: 30px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            appearance: none;
            background: url(/img/main/down-small.svg) no-repeat right;
            background-color: #fff;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__list {
            display: none;
            position: absolute;
            text-align: left;
            width: 420px;
            margin-top: 10px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            background-color: #fff;
            overflow: hidden;
            z-index: 1000;
        }
        .dropdown__list_active {
            display: block;
        }
        .dropdown__list-item {
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .dropdown__list-item:first-of-type {
            margin-bottom: 12px;
            margin-top: 12px;
            background: url(/img/main/up-small.png) no-repeat right;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__input-hidden {
            display: none;
        }
        .form__radio {
            display: flex;
            align-items: center;
            font-family: $raleway-l;
            font-size: 16px;
            margin-top: 14px;
            label {
                margin-left: 17px;
            }
            .radio1 {
                margin-left: 109px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
            .radio2 {
                margin-left: 67px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
        }
    }
    .foradults {
        display: none;
    }
    .foradults.js_active {
        display: block;
    }
    .forchildren {
        display: none;
    }
    .forchildren.js_active {
        display: block;
    }
    .under-inputs {
        margin-top: 14px;
        width: 200px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #FFECA0;
        border-radius: 10px;
        font-family: $raleway-l;
        font-size: 16px;
    }
    .input-name {
        margin-left: 106px;
    }
    .input-phone {
        margin-left: 20px;
    }
    .input-email {
        width: 420px;
        height: 50px;
        margin-left: 106px;
    }
    .btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 91px;
    }
}

.footer {
    width: 100%;
    margin-top: 140px;
    background: $l-yellowclr;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    .main {
        max-width: 1260px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 65px;
        padding-bottom: 69px;
        .footer__links {
            display: flex;
            flex-direction: column;
            .links__title {
                margin-bottom: 17px;
                margin-top: 15px;
            }
            .link {
                font-family: $raleway-l;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
            }
            .link:not(:last-of-type) {
                margin-bottom: 14px;
            }
            .copy {
                margin-top: 62px;
                font-size: 14px;
            }
        }
        .footer__center {
            display: flex;
            flex-direction: column;
            align-items: center;
            .center__contacts {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .footer__btn {
                border-radius: 30px;
                padding: 18px 38px;
                background-color: $greenclr;
                color: white;
                font-family: $raleway-sb;
                font-size: 18px;
            }
        }
        .footer__contacts {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 195px;
            text-align: end;
            margin-left: 62px;
            .contacts__title {
                margin-bottom: 17px;
                margin-top: 15px;
            }
            p:not(:last-of-type) {
                margin-bottom: 14px;
            }
            .design {
                margin-top: 48px;
                font-size: 14px;
            }
        }
    }
    .footer__down {
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 69px;
    }
}

.burger-menu {
    display: none;
    width: 100%;
    position: absolute;
    background: $l-yellowclr;
    border-radius: 0 0 70px 70px;
    .burger-menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 20px 0px 20px;
        margin-bottom: 40px;
    }
    .burger-menu__main {
        display: flex;
        flex-direction: column;
        text-align: center;
        .link {
            margin-bottom: 20px;
            font-family: $raleway-m;
        }
        .link:last-of-type {
            margin-bottom: 52px;
        }
    }
    .burger-menu__contacts {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 52px;
    }
    .burger-menu__footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 106px 60px;
        .contacts__title {
            margin-bottom: 20px;
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
        p:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    &.js_active {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .nav {
        width: 100%;
        margin-bottom: 0;
        .nav__logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            width: 100%;
            .burger {
                display: block;
                width: 20px;
                height: 15px;
            }
            img {
                width: 200px;
                height: 40px;
            }
        }
        .nav__main {
            display: none;
        }
        .nav__menu.adults {
            display: none;
        }
        .contacts {
            display: none;
        }
    }
    .container-header {
        width: 100%;
        .header {
            flex-direction: column;
            margin-top: 40px;
            .title {
                .title__text {
                    font-size: 30px;
                    width: 295px;
                    line-height: 40px;
                    margin-bottom: 40px;
                }
                .title__subtext {
                    font-size: 20px;
                    width: 245px;
                }
                .title__btn {
                    font-size: 16px;
                    padding: 16px 38px;
                }
            }
            .header__logo {
                width: 100%;
                margin-top: 60px;
                img {
                    width: 100%;
                }
            }
        }
        .subtitle {
            flex-direction: column;
            margin: 80px 72px 80px 91px;
            img:not(:last-child) {
                margin-bottom: 60px;
                width: 145px;
            }
        }
    }
    .learn {
        width: 100%;
        height: 460px;
        padding-right: 87px;
        padding-left: 85px;
        .title {
            width: 200px;
            .title__text {
                font-size: 20px;
            }
            .title__rectangle {
                width: 200px;
                height: 8px;
            }
        }
        .learn__language {
            flex-direction: column;
            height: 30px;
            .language {
                margin-bottom: 30px;
                font-size: 16px;
                background-size: contain;
                line-height: 30px;
            }
        }
    }
    .target {
        width: 100%;
        flex-direction: column;
        img {
            width: 100%;
            padding: 0 16px;
            margin-bottom: 57px;
        }
        .right-block {
            width: 100%;
            margin-left: 20px;
            .title1 {
                .title__rectangle {
                    height: 8px;
                    width: 330px;
                }
                .title__text {
                    font-size: 20px;
                }
            }
            .title2 {
                .title__rectangle {
                    height: 8px;
                    width: 273px;
                }
                .title__text {
                    font-size: 20px;
                }
            }
            .target__text {
                font-size: 14px;
                width: 300px;
            }
        }
    }
    .todo {
        width: 100%;
        margin-top: 100px;
        .title {
            .title__rectangle {
                height: 8px;
                width: 265px;
                margin-left: 30px;
            }
            .title__text {
                text-align: center;
                font-size: 20px;
            }
        }
        .todo__lists {
            width: 100%;
            flex-wrap: wrap;
            padding: 0 23px 0 16px;
            .todo-items {
                margin: 14px 0px;
                width: 130px;
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .results {
        width: 100%;
        flex-direction: column;
        margin-top: 100px;
        .left-side {
            padding: 0 20px;
            width: auto;
            margin-right: 0;
            .title {
                .title__rectangle {
                    height: 8px;
                    width: 63px;
                }
                .title__text {
                    font-size: 20px;
                }
            }
            p {
                font-size: 14px;
            }
        }
        .right-side {
            flex-direction: column;
            padding: 0 20px;
            .result01 {
                width: 250px;
                margin-bottom: 30px;
            }
            .result02 {
                margin-bottom: 30px;
            }
        }
    }
    .easy {
        width: 100%;
        margin-top: 100px;
        .easy__main {
            width: 100%;
            flex-direction: column;
            padding: 0;
            padding-bottom: 60px;
            .left-block {
                width: 100%;
                margin-bottom: 44px;
                padding: 60px 16px 0 20px;
                margin-right: 0;
                .title1 {
                    .title__rectangle {
                        height: 8px;
                        width: 300px;
                    }
                    .title__text {
                        font-size: 20px;
                    }
                }
                .title2 {
                    .title__rectangle {
                        height: 8px;
                        width: 330px;
                    }
                    .title__text {
                        font-size: 20px;
                    }
                }
            }
            .style-btn {
                font-size: 16px;
                padding: 16px 34px;
            }
        }
    }
    .learning {
        width: 100%;
        .title {
            .title__rectangle {
                height: 8px;
                width: 205px;
                margin-left: 22px;
            }
            .title__text {
                text-align: center;
                font-size: 20px;
            }
        }
        .learning__subtitle {
            font-size: 14px;
        }
        .options {
            width: 100%;
            padding: 0 16px;
            .option {
                h3 {
                    font-size: 16px;
                    text-align: center;
                }
                .base {
                    width: 200px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    align-items: center;
                    padding: 0;
                    div:first-of-type {
                        margin-top: 0;
                    } 
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .add-form {
        width: 100%;
        margin-top: 0;
        border-radius: 50px;
        height: 822px;
        margin-top: 100px;
        background: url(/img/main/add_form_mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .add-form__title {
            font-size: 20px;
            padding-top: 65px;
            padding-left: 20px;
            width: 300px;
        }
        .add-form__subtitle {
            .adults {
                width: 160px;
                margin-left: 20px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
            .children {
                width: 160px;
                margin-top: 30px;
                margin-left: 15px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
        }
        .form {
            .dropdown__btn {
                width: 335px;
                margin-left: 20px;
            }
            .dropdown__list {
                width: 335px;
                margin-left: 20px;
            }
            .form__radio {
                .radio1 {
                    margin-left: 20px;
                }
                .radio2 {
                    margin-left: 30px;
                }
            }
        }
        .under-inputs {
            width: 158px;
        }
        .input-name {
            margin-left: 20px;
        }
        .input-phone {
            margin-left: 16px;
        }
        .input-email {
            width: 335px;
            margin-left: 20px;
        }
        .btn {
            padding: 16px 34px;
            font-size: 16px;
            margin-bottom: 60px;
        }
    }
    .footer {
        width: 100%;
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .footer__links {
                order: 2;
                text-align: center;
                margin-bottom: 30px;
            }
            .footer__center {
                order: 1;
                margin-bottom: 50px;
                .footer__btn {
                    padding: 16px 34px;
                    font-size: 16px;
                }
                .center__contacts {
                    width: 254px;
                    display: flex;
                    justify-content: space-around;
                }
            }
            .footer__contacts {
                order: 3;
                margin-left: 0;
                text-align: center;
                align-items: center;
            }
        }
        .footer__down {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-bottom: 60px;
            p {
                width: 150px;
                font-size: 12px;
            }
        }
    }
    .wrapper-modal-call {
        width: 375px;
    }
    .modal-window-call {
        width: 375px;
        border-radius: 50px;
        background: url(/img/main/modal-call-mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .btn-close-modal-call {
            padding-top: 39px;
            padding-left: 280px;
            padding-right: 0;
        }
        .modal-window__title {
            padding-left: 20px;
            font-size: 20px;
        }
        .inputs {
            padding-left: 20px;
            padding-right: 20px;
            .input {
                margin-top: 14px;
                width: 335px;
                height: 50px;
                padding-left: 20px;
                border: 1px solid #FFECA0;
                border-radius: 10px;
                font-family: $raleway-l;
                font-size: 16px;
            }
        }
        .modal-btn {
            padding: 16px 34px;
            font-size: 14px;
            margin-left: 20px;
            margin-bottom: 350px;
        }
    }

    .wrapper-modal-trial {
        width: 375px;
    }

    .modal-window-trial {
        width: 375px;
        height: 876px;
        border-radius: 50px;
        background: url(/img/children_on/add_form_mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .btn-close-modal-trial {
            padding-left: 300px;
            padding-right: 0;
        }
        .modal-window-trial__title {
            padding-left: 20px;
            font-size: 20px;
        }
        .add-form__subtitle {
            .adults {
                width: 160px;
                margin-left: 20px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
            .children {
                width: 160px;
                margin-top: 30px;
                margin-left: 15px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
        }
        .form {
            .dropdown__btn {
                height: 42px;
                width: 335px;
                margin-left: 20px;
            }
            .dropdown__list {
                width: 335px;
                margin-left: 20px;
            }
            .form__radio {
                .radio1 {
                    margin-left: 20px;
                }
                .radio2 {
                    margin-left: 30px;
                }
            }
        }
        .under-inputs {
            width: 158px;
            height: 42px;
        }
        .input-name {
            margin-left: 20px;
        }
        .input-phone {
            margin-left: 16px;
        }
        .input-email {
            width: 335px;
            margin-left: 20px;
        }
        .modal-btn {
            padding: 16px 34px;
            font-size: 16px;
        }
    }
    .wrapper-modal {
        width: 375px;
    }
    .modal-window {
        width: 375px;
        height: 783px;
        border-radius: 50px;
        background: url(/img/main/modal-mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .btn-close-modal {
            padding-left: 301px;
            padding-right: 20px;
            padding-top: 30px;
        }
        .modal-window__title {
            padding-left: 20px;
            font-size: 20px;
        }
        .inputs {
            padding-left: 20px;
            padding-right: 20px;
            div {
                width: 335px;
            }
            .input {
                margin-top: 14px;
                width: 150px;
                height: 40px;
                font-size: 14px;
            }
            .input-mail {
                width: 335px;
            }
            .input-price {
                width: 335px;
            }
        }
        .modal-window__text {
            padding-left: 20px;
            padding-right: 76px;
            font-size: 12px;
        }
        .modal-btn {
            padding: 16px 34px;
            font-size: 16px;
            border-radius: 30px;
            margin-top: 30px;
            margin-bottom: 60px;
            margin-left: 111px;
        }
    }
}