@import "fonts.scss";
@import "nullstyle.scss";

$raleway-l: "Raleway-Light", Arial, Helvetica, sans-serif;
$raleway-m: "Raleway-Medium", Arial, Helvetica, sans-serif;
$raleway-sb: "Raleway-Semibold", Arial, Helvetica, sans-serif;
$nextart-h: "Nextart-Heavy", Arial, Helvetica, sans-serif;

$greenclr: #236967;
$redclr: #FE7167;
$orangeclr: #FC8B4C;
$yellowclr: #FFCC1A;
$l-yellowclr: #FFFBED;
$d-grayclr: #363636;
$beigeclr: #FDE9D4;
$mintclr: #61B5A9;

%bgrectangle {
    background: #FFECA0;
    width: 100%;
    height: 10px;            
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 11px;
}

%yellowtitle {
    margin-bottom: 40px;
    font-size: 24px;
    font-family: $nextart-h;
    position: relative;
}

p {
    font-family: $raleway-l;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
}

h3 {
    font-family: $raleway-m;
    font-size: 18px;
    line-height: 30px;
}

.style-btn {
    &:hover {
        box-shadow: 0px 8px 10px #1E5F5D66;
    }
    &:active {
        box-shadow: inset 0px 0px 8px 8px rgb(0,0,0,0.15);
    }
}

.style-input {
    &:focus {
        box-shadow: 0px 2px 4px #FFECA0;
    }
}

.wrapper-modal-call {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
}

.wrapper-modal-call_active {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #000;
    opacity: 50%;
}

.modal-window-call {
    position: absolute;
    max-width: 860px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $l-yellowclr;
    border-radius: 70px;
    background: url(/img/main/call-left.png) no-repeat left, url(/img/main/call-right.png) no-repeat right;
    background-color: $l-yellowclr;
    .btn-close-modal-call {
        display: block;
        padding-top: 39px;
        padding-left: 546px;
        padding-right: 260px;
        text-decoration: underline;
        font-family: $raleway-l;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #363636;
    }
    .modal-window__title {
        padding-top: 47px;
        padding-left: 250px;
        font-size: 24px;
        font-family: $nextart-h;
    }
    .inputs {
        padding-left: 250px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        .input {
            margin-top: 14px;
            width: 350px;
            height: 50px;
            padding-left: 20px;
            border: 1px solid #FFECA0;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
        }
    }
    .modal-btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 113px;
        margin-left: 250px;
    }
}

.wrapper-modal-trial {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
}

.wrapper-modal-trial_active {
    display: block;
}

.modal-window-trial {
    position: absolute;
    max-width: 1046px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $l-yellowclr;
    border-radius: 70px;
    background: url(/img/children_on/add_form.png) no-repeat right;
    background-color: $l-yellowclr;
    .btn-close-modal-trial {
        display: block;
        padding-top: 47px;
        padding-left: 620px;
        padding-right: 372px;
        text-decoration: underline;
        font-family: $raleway-l;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #363636;
    }
    .modal-window-trial__title {
        padding-top: 19px;
        padding-left: 106px;
        font-size: 24px;
        font-family: $nextart-h;
    }
    .add-form__subtitle {
        display: flex;
        cursor: pointer;
        .adults {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 106px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
        .children {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
    }
    .form {
        .dropwdown {
            position: relative;
        }
        .dropdown__btn {
            position: relative;
            display: block;
            text-align: left;
            width: 420px;
            height: 50px;
            margin-top: 30px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            appearance: none;
            background: url(/img/main/down-small.svg) no-repeat right;
            background-color: #fff;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__list {
            display: none;
            position: absolute;
            text-align: left;
            width: 420px;
            margin-top: 10px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            background-color: #fff;
            overflow: hidden;
            z-index: 1000;
        }
        .dropdown__list_active {
            display: block;
        }
        .dropdown__list-item {
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .dropdown__list-item:first-of-type {
            margin-bottom: 12px;
            margin-top: 12px;
            background: url(/img/main/up-small.png) no-repeat right;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__input-hidden {
            display: none;
        }
        .form__radio {
            display: flex;
            align-items: center;
            font-family: $raleway-l;
            font-size: 16px;
            margin-top: 14px;
            label {
                margin-left: 17px;
            }
            .radio1 {
                margin-left: 109px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                z-index: 5;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
            .radio2 {
                margin-left: 67px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
        }
    }
    .foradults {
        display: none;
    }
    .foradults.js_active {
        display: block;
    }
    .forchildren {
        display: none;
    }
    .forchildren.js_active {
        display: block;
    }
    .under-inputs {
        margin-top: 14px;
        width: 200px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #FFECA0;
        border-radius: 10px;
        font-family: $raleway-l;
        font-size: 16px;
    }
    .input-name {
        margin-left: 106px;
    }
    .input-phone {
        margin-left: 16px;
    }
    .input-email {
        width: 420px;
        height: 50px;
        margin-left: 106px;
    }
    .modal-btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 85px;
        margin-left: 106px;
    }
}

.wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10;
}

.wrapper-modal_active {
    display: block;
}

.modal-window {
    position: absolute;
    max-width: 860px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: $l-yellowclr;
    border-radius: 70px;
    background: url(/img/main/modal-left.png) no-repeat left, url(/img/main/modal-right.png) no-repeat right;
    background-color: $l-yellowclr;
    .btn-close-modal {
        display: block;
        padding-top: 39px;
        padding-left: 585px;
        padding-right: 220px;
        text-decoration: underline;
        font-family: $raleway-l;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #363636;
    }
    .modal-window__title {
        padding-top: 17px;
        padding-left: 219px;
        font-size: 24px;
        font-family: $nextart-h;
    }
    .inputs {
        padding-left: 219px;
        margin-top: 20px;
        width: 420px;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            justify-content: space-between;
            width: 420px;
        }
        .input {
            margin-top: 14px;
            width: 200px;
            height: 50px;
            padding-left: 20px;
            border: 1px solid #FFECA0;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
        }
        .input-mail {
            width: 420px;
        }
        .input-price {
            width: 420px;
            background: url(/img/main/modal-rub.png) no-repeat right;
            background-position-x: calc(100% - 20px);
            background-color: #fff;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .modal-window__text {
        padding-right: 242px;
        padding-left: 219px;
        margin-top: 24px;
    }
    .modal-btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 73px;
        margin-left: 219px;
    }
}

.nav {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 60px;
    padding-top: 50px;
    .nav__logo {
        margin-right: 77px;
        cursor: pointer;
        .burger {
            display: none;
        }
    }
    .nav__menu {
        font-family: $raleway-m;
        font-size: 16px;
        img {
            margin-right: 46.5px;
        }
        &.adults {
            margin-right: 270px;
        }
    }
    .children {
        margin-left: 20px;
    }
}

.children-option {
    display: none;
}

.children-option.active {
    position: absolute;
    width: 191px;
    height: 86px;
    background: url(/img/main/option-header.png);
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        font-family: $raleway-m;
        font-size: 16px;
    }
    a:first-of-type {
        margin-top: 8px;
        margin-bottom: 12px;
    }
}

.container-header {
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    .title__text {
        font-family: $nextart-h;
        font-size: 50px;
        width: 560px;
        line-height: 66px;
        margin-top: 70px;
        margin-right: 35px;
        margin-bottom: 58px;
    }
    .title__btn {
        border-radius: 30px;
        padding: 18px 38px;
        background-color: $greenclr;
        color: white;
        font-family: $raleway-sb;
        font-size: 18px;
    }
}

.learn {
    max-width: 1260px;
    margin: 140px auto 140px;
    background: $l-yellowclr;
    border-radius: 70px;
    padding: 75px 220px 85px 213px;
    .title {
        width: 465px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
            width: 375px;
        }
    }
    .learn__language {
        display: flex;
        justify-content: space-between;
        height: 40px;
        .learn__language_english {
            background: url(/img/children_on/english.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_germany {
            background: url(/img/children_on/germany.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_spain {
            background: url(/img/children_on/spain.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
        .learn__language_france {
            background: url(/img/children_on/france.png) no-repeat left;
            display: flex;
            align-items: center;
            padding-left: 70px;
        }
    }
}

.change {
    max-width: 975px;
    margin: 0 auto;
    .title {
        width: 375px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .change__row-up {
        display: flex;
        justify-content: start;
        margin-bottom: 5px;
        .left-up {
            background: url(/img/children_of/skills_left01.png) no-repeat left;
            padding-left: 72px;
            width: 340px;
            margin-right: 122px;
        }
        .right-up {
            background: url(/img/children_of/skills_right01.png) no-repeat left;
            padding-left: 72px;
            width: 398px;
        }
    }
    .change__row-down {
        display: flex;
        justify-content: start;
        height: 40px;
        .left-down {
            background: url(/img/children_of/skills_left02.png) no-repeat left;
            padding-left: 72px;
            width: 340px;
            margin-right: 122px;
        }
        .right-down {
            background: url(/img/children_of/skills_right02.png) no-repeat left;
            padding-left: 72px;
            width: 398px;
        }
    }
}

.easy {
    max-width: 1260px;
    background: $l-yellowclr;
    border-radius: 70px;
    margin: 0 auto;
    margin-top: 140px;
    .easy__main {
        padding: 67px 243px 67px 213px;
        display: flex;
        align-items: center;
        .left-block {
            width: 333px;
            margin-right: 181px;
            .title1 {
                width: 255px;
                position: relative;
                .title__text {
                    @extend %yellowtitle;
                    font-size: 30px;
                    margin-bottom: 23px;
                }
                .title__rectangle {
                    @extend %bgrectangle;
                    height: 14px;
                }
            }
            .title2 {
                width: 330px;
                position: relative;
                .title__text {
                    @extend %yellowtitle;
                    font-size: 30px;
                    margin-bottom: 58px;
                }
                .title__rectangle {
                    @extend %bgrectangle;
                    height: 14px;
                }
            }
        }
        .btn {
            border-radius: 30px;
            padding: 18px 38px;
            background-color: $greenclr;
            color: white;
            font-family: $raleway-sb;
            font-size: 18px;
        }
    }
}

.results {
    max-width: 874px;
    margin: 140px auto;
    .title {
        width: 450px;
        margin: 0 auto;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .results__items {
        display: flex;
        .column1 {
            width: 264px;
            margin-right: 25px;
            .item {
                background: $l-yellowclr;
                border-radius: 30px;
                margin-bottom: 40px;
                padding: 28px 37px;
                img {
                    margin-bottom: 29px;
                }
            }
            .item2 {
                padding: 28px 42px 28px 37px;
            }
        }
        .column2 {
            width: 296px;
            margin-right: 29px;
            .item {
                background: $l-yellowclr;
                border-radius: 30px;
                margin-bottom: 40px;
                padding: 28px 37px;
                img {
                    margin-bottom: 29px;
                }
            }
            .item2 {
                padding: 28px 20px 28px 37px;
            }
        }
        .column3 {
            width: 260px;
            .item {
                background: $l-yellowclr;
                border-radius: 30px;
                margin-bottom: 40px;
                padding: 28px 51px 28px 37px;
                img {
                    margin-bottom: 29px;
                }
            }
        }
    }
}

.whatisit {
    max-width: 1091px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .title1 {
        width: 345px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
            margin-bottom: 17px;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .title2 {
        width: 225px;
        position: relative;
        .title__text {
            @extend %yellowtitle;
            margin-bottom: 40px;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .whatisit__block {
        margin-left: 73px;
        .uprow {
            display: flex;
            .item1 {
                background: url(/img/children_on/union01.png) no-repeat top left;
                padding-top: 22px;
                margin-right: 100px;
            }
            .item2 {
                background: url(/img/children_on/union02.png) no-repeat top left;
                padding-top: 22px;
                margin-right: 96px;
            }
            .item3 {
                background: url(/img/children_on/union03.png) no-repeat top left;
                padding-top: 22px;
            }
        }
        .downrow {
            display: flex;
            margin-top: 34px;
            .item1 {
                background: url(/img/children_on/union04.png) no-repeat top left;
                padding-top: 22px;
                margin-right: 104px;
            }
            .item2 {
                background: url(/img/children_on/union05.png) no-repeat top left;
                padding-top: 22px;
                margin-right: 116px;
            }
            .item3 {
                background: url(/img/children_on/union06.png) no-repeat top left;
                padding-top: 22px;
            }
        }
    }
}

.educations {
    max-width: 1046px;
    margin: 140px auto 0;
    display: flex;
    flex-direction: column;
    .title {
        width: 250px;
        margin: 0 auto;
        position: relative;
        .title__text {
            @extend %yellowtitle;
        }
        .title__rectangle {
            @extend %bgrectangle;
        }
    }
    .subtitle {
        display: flex;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        .subtitle__item {
            width: 260px;
            margin-right: 20px;
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: $mintclr;
                position: absolute;
            }
            &.js_active::after {
                background: $greenclr;
            }
        }
    }
    .programs {
        display: none;
        align-items: center;
        width: 100%;
        margin: 40px auto 0;
        .program {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            height: 420px;
            border-radius: 30px;
            background: url(/img/children_on/lessons_30minutes_04.png) no-repeat top;
            background-color: $l-yellowclr;
            &:hover {
                width: 300px;
                height: 440px;
                box-shadow: 2px 2px 16px #e7ddb9;
                transition-duration: 0.5s;
            }
            &.program_middle {
                margin-left: 73px;
                background: url(/img/children_on/lessons_30minutes08.png) no-repeat top;
                background-color: $l-yellowclr;
            }
            h3 {
                margin-top: 190px;
                color: $d-grayclr;
            }
            .price {
                margin-top: 14px;
                margin-bottom: 38px;
                font-family: $nextart-h;
                font-size: 22px;
                letter-spacing: 0.02em;
            }
            .program-btn {
                border-radius: 30px;
                padding: 18px 38px;
                background-color: $greenclr;
                color: white;
                font-family: $raleway-sb;
                font-size: 18px;
            }
        }
        &.programs_group {
            .program {
                background: url(/img/children_of/groups_60minutes04.png) no-repeat top;
                background-color: $l-yellowclr;
                p {
                    font-size: 12px;
                    margin-top: 19px;
                }
            }
            .program_middle {
                background: url(/img/children_of/groups_60minutes08.png) no-repeat top;
                background-color: $l-yellowclr;
            }
            .program_right {
                margin-left: 73px;
                background: url(/img/children_of/groups_60minutes12.png) no-repeat top;
                background-color: $l-yellowclr;
            }
        }
        &.programs_tell {
            .program {
                background: url(/img/children_of/tell_4.png) no-repeat top;
                background-color: $l-yellowclr;
            }
            .program_middle {
                background: url(/img/children_of/tell.png) no-repeat top;
                background-color: $l-yellowclr;
            }
        }
        &.js_active {
            display: flex;
        }
    }
}

.add-form {
    max-width: 1046px;
    background: $l-yellowclr;
    margin: 140px auto;
    border-radius: 70px;
    background: url(/img/children_on/add_form.png) no-repeat right;
    background-color: $l-yellowclr;
    .add-form__title {
        font-family: $nextart-h;
        font-size: 24px;
        padding-top: 90px;
        padding-left: 106px;
    }
    .add-form__subtitle {
        display: flex;
        cursor: pointer;
        .adults {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 106px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
        .children {
            width: 200px;
            height: 30px;
            text-align: center;
            margin-top: 30px;
            margin-left: 20px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: #94C6C4;
            }
            &.js_active:after {
                content: '';
                position: absolute;
                width: 200px;
                bottom: 0;
                height: 2px;
                left: 0;
                background: $greenclr;
            }
        }
    }
    .form {
        .dropwdown {
            position: relative;
        }
        .dropdown__btn {
            position: relative;
            display: block;
            text-align: left;
            width: 420px;
            height: 50px;
            margin-top: 30px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            appearance: none;
            background: url(/img/main/down-small.svg) no-repeat right;
            background-color: #fff;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__list {
            display: none;
            position: absolute;
            text-align: left;
            width: 420px;
            margin-top: 10px;
            margin-left: 106px;
            padding-left: 20px;
            border-radius: 10px;
            font-family: $raleway-l;
            font-size: 16px;
            color: $d-grayclr;
            border: 1px solid #FFECA0;
            background-color: #fff;
            overflow: hidden;
            z-index: 1000;
        }
        .dropdown__list_active {
            display: block;
        }
        .dropdown__list-item {
            margin-top: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .dropdown__list-item:first-of-type {
            margin-bottom: 12px;
            margin-top: 12px;
            background: url(/img/main/up-small.png) no-repeat right;
            background-position-x: calc(100% - 23px);
        }
        .dropdown__input-hidden {
            display: none;
        }
        .form__radio {
            display: flex;
            align-items: center;
            font-family: $raleway-l;
            font-size: 16px;
            margin-top: 14px;
            label {
                margin-left: 17px;
            }
            .radio1 {
                margin-left: 109px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
            .radio2 {
                margin-left: 67px;
                appearance: none;
                width: 12px;
                height: 12px;
                border: 1px solid $greenclr;
                border-radius: 50%;
                position: relative;
                &:checked {
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        right: -3px;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        border: 1px solid $greenclr;
                    }
                    background: $greenclr;
                    border: 3px solid $l-yellowclr;
                }
            }
        }
    }
    .foradults {
        display: none;
    }
    .foradults.js_active {
        display: block;
    }
    .forchildren {
        display: none;
    }
    .forchildren.js_active {
        display: block;
    }
    .under-inputs {
        margin-top: 14px;
        width: 200px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #FFECA0;
        border-radius: 10px;
        font-family: $raleway-l;
        font-size: 16px;
    }
    .input-name {
        margin-left: 106px;
    }
    .input-phone {
        margin-left: 20px;
    }
    .input-email {
        width: 420px;
        height: 50px;
        margin-left: 106px;
    }
    .btn {
        padding: 18px 38px;
        background: $greenclr;
        color: #fff;
        font-family: $raleway-sb;
        font-size: 18px;
        margin-left: 106px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 91px;
    }
}

.footer {
    width: 100%;
    margin-top: 140px;
    background: $l-yellowclr;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    .main {
        max-width: 1260px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 65px;
        padding-bottom: 69px;
        .footer__links {
            display: flex;
            flex-direction: column;
            .links__title {
                margin-bottom: 17px;
                margin-top: 15px;
            }
            .link {
                font-family: $raleway-l;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.02em;
            }
            .link:not(:last-of-type) {
                margin-bottom: 14px;
            }
            .copy {
                margin-top: 62px;
                font-size: 14px;
            }
        }
        .footer__center {
            display: flex;
            flex-direction: column;
            align-items: center;
            .center__contacts {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .footer__btn {
                border-radius: 30px;
                padding: 18px 38px;
                background-color: $greenclr;
                color: white;
                font-family: $raleway-sb;
                font-size: 18px;
            }
        }
        .footer__contacts {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 195px;
            text-align: end;
            margin-left: 62px;
            .contacts__title {
                margin-bottom: 17px;
                margin-top: 15px;
            }
            p:not(:last-of-type) {
                margin-bottom: 14px;
            }
            .design {
                margin-top: 48px;
                font-size: 14px;
            }
        }
    }
    .footer__down {
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 69px;
    }
}

.burger-menu {
    display: none;
    width: 100%;
    position: absolute;
    background: $l-yellowclr;
    border-radius: 0 0 70px 70px;
    .burger-menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 20px 0px 20px;
        margin-bottom: 40px;
    }
    .burger-menu__main {
        display: flex;
        flex-direction: column;
        text-align: center;
        .link {
            margin-bottom: 20px;
            font-family: $raleway-m;
        }
        .link:last-of-type {
            margin-bottom: 52px;
        }
    }
    .burger-menu__contacts {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 52px;
    }
    .burger-menu__footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 106px 60px;
        .contacts__title {
            margin-bottom: 20px;
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
        p:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    &.js_active {
        display: block;
    }
}
@media screen and (max-width: 575px) {
    .nav {
        width: 100%;
        margin-bottom: 0;
        .nav__logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            width: 100%;
            .burger {
                display: block;
                width: 20px;
                height: 15px;
            }
            img {
                width: 200px;
                height: 40px;
            }
        }
        .nav__main {
            display: none;
        }
        .nav__menu.adults {
            display: none;
        }
        .contacts {
            display: none;
        }
    }
    .container-header {
        width: 100%;
        .header {
            flex-direction: column;
            .title {
                margin-left: 20px;
                .title__text {
                    font-size: 30px;
                    width: 295px;
                    line-height: 40px;
                    margin-bottom: 40px;
                }
                .title__btn {
                    font-size: 16px;
                    padding: 16px 38px;
                }
            }
            .header__logo {
                width: 100%;
                margin-top: 60px;
                img {
                    width: 100%;
                }
            }
            img {
                margin-top: 60px;
            }
        }
        .subtitle {
            flex-direction: column;
            margin: 80px 72px 80px 91px;
            img:first-of-type {
                margin-bottom: 60px;
            }
        }
    }
    .learn {
        width: 100%;
        height: 460px;
        padding-right: 87px;
        padding-left: 85px;
        .title {
            width: 200px;
            .title__text {
                font-size: 20px;
            }
            .title__rectangle {
                width: 200px;
                height: 8px;
            }
        }
        .learn__language {
            flex-direction: column;
            height: 30px;
            .language {
                margin-bottom: 30px;
                font-size: 16px;
                background-size: contain;
                line-height: 30px;
            }
        }
    }
    .change {
        width: 100%;
        padding: 0 20px;
        .title {
            width: 320px;
            .title__text {
                font-size: 20px;
            }
            .title__rectangle {
                width: 310px;
                height: 8px;
            }
        }
        .change__row-up {
            flex-direction: column;
            .left-up {
                p {
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 6px;
                    padding-right: 36px;
                }
            }
            .right-up {
                p {
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 6px;
                    padding-right: 56px;
                }
            }
        }
        .change__row-down {
            flex-direction: column;
            p {
                width: 100%;
                font-size: 14px;
                margin-bottom: 6px;
                padding-right: 76px;
            }
            .right-down {
                p {
                    line-height: 40px;
                    margin-top: 10px;
                }
            }
        }
    }
    .easy {
        width: 100%;
        margin-top: 100px;
        .easy__main {
            width: 100%;
            flex-direction: column;
            padding: 0;
            padding-bottom: 60px;
            .left-block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 44px;
                padding: 60px 76px 0 75px;
                margin-right: 0;
                .title1 {
                    .title__rectangle {
                        height: 8px;
                        width: 170px;
                    }
                    .title__text {
                        font-size: 20px;
                    }
                }
                .title2 {
                    .title__rectangle {
                        height: 8px;
                        width: 220px;
                    }
                    .title__text {
                        font-size: 20px;
                    }
                }
            }
            .style-btn {
                font-size: 16px;
                padding: 16px 34px;
                margin: 0 auto;
            }
        }
    }
    .results {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
        .title {
            margin-left: 20px;
            width: 230px;
            .title__text {
                font-size: 20px;
            }
            .title__rectangle {
                width: 137px;
            }
        }
        .results__items {
            flex-direction: column;
            align-items: center;
            p {
                font-size: 14px;
            }
            .column1 {
                margin: 0;
            }
            .column2 {
                margin: 0;
            }
            .column3 {
                margin: 0;
            }
        }
    }
    .whatisit {
        width: 100%;
        flex-direction: column;
        .whatisit__block {
            width: 100%;
            margin-left: 0;
            order: 1;
            padding: 0 11px;
            .title1 {
                .title__rectangle {
                    height: 8px;
                    width: 285px;
                }
                .title__text {
                    font-size: 20px;
                }
            }
            .title2 {
                .title__rectangle {
                    height: 8px;
                    width: 185px;
                }
                .title__text {
                    font-size: 20px;
                }
            }
            .uprow {
                flex-wrap: wrap;
                h3 {
                    font-size: 16px;
                }
                .item2 {
                    margin: 0;
                }
                .item3 {
                    margin-top: 30px;
                }
            }
            .downrow {
                flex-wrap: wrap;
                h3 {
                    font-size: 16px;
                }
                .item2 {
                    margin: 0;
                }
                .item3 {
                    margin-top: 30px;
                    margin-bottom: 67px;
                }
            }
        }
        img {
            order: 2;
        }
    }
    .educations {
        width: 100%;
        .title {
            width: 230px;
            .title__text {
                font-size: 20px;
            }
            .title__rectangle {
                width: 205px;
            }
        }
        .subtitle {
            width: 100%;
            padding-left: 20px;
            h3 {
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .programs {
            flex-direction: column;
            .program {
                margin-bottom: 20px;
                &.program_middle {
                    margin-left: 0;
                }
                &.program_right {
                    margin-left: 0;
                }
            }
        }
    }
    .add-form {
        width: 100%;
        margin-top: 100px;
        border-radius: 50px;
        height: 880px;
        background: url(/img/main/add_form_mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .add-form__title {
            font-size: 20px;
            padding-top: 65px;
            padding-left: 20px;
            width: 300px;
        }
        .add-form__subtitle {
            .adults {
                width: 160px;
                margin-left: 20px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
            .children {
                width: 160px;
                margin-top: 30px;
                margin-left: 15px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
        }
        .form {
            .dropdown__btn {
                width: 335px;
                margin-left: 20px;
            }
            .dropdown__list {
                width: 335px;
                margin-left: 20px;
            }
            .form__radio {
                .radio1 {
                    margin-left: 20px;
                }
                .radio2 {
                    margin-left: 30px;
                }
            }
        }
        .under-inputs {
            width: 158px;
        }
        .input-name {
            margin-left: 20px;
        }
        .input-phone {
            margin-left: 16px;
        }
        .input-email {
            width: 335px;
            margin-left: 20px;
        }
        .btn {
            padding: 16px 34px;
            font-size: 16px;
            margin-bottom: 60px;
        }
    }
    .for-children {
        flex-direction: column;
        img {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 60px;
        }
        .info {
            margin-left: 20px;
            .title {
                .title__text {
                    font-size: 20px;
                }
                .title__rectangle {
                    height: 8px;
                    width: 120px;
                }
            }
        }
        .info__left-right {
            flex-direction: column;
            .info__right {
                margin-top: 30px;
                margin-left: 0px;
            }
        }
    }
    .for-adults {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
        img {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 60px;
            order: 1;
        }
        .info {
            margin-left: 20px;
            order: 2;
            .title {
                .title__text {
                    font-size: 20px;
                }
                .title__rectangle {
                    height: 8px;
                    width: 170px;
                }
            }
        }
        .info__left-right {
            flex-direction: column;
            .info__right {
                margin-top: 30px;
                margin-left: 0;
            }
        }
    }
    .footer {
        width: 100%;
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .footer__links {
                order: 2;
                text-align: center;
                margin-bottom: 30px;
            }
            .footer__center {
                order: 1;
                margin-bottom: 50px;
                .footer__btn {
                    padding: 16px 34px;
                    font-size: 16px;
                }
                .center__contacts {
                    width: 254px;
                    display: flex;
                    justify-content: space-around;
                }
            }
            .footer__contacts {
                order: 3;
                margin-left: 0;
                text-align: center;
                align-items: center;
            }
        }
        .footer__down {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-bottom: 60px;
            padding-left: 20px;
            padding-right: 20px;
            p {
                width: 150px;
                font-size: 12px;
            }
        }
    }
    .wrapper-modal-call {
        width: 375px;
    }
    .modal-window-call {
        width: 375px;
        border-radius: 50px;
        background: url(/img/main/modal-call-mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .btn-close-modal-call {
            padding-top: 39px;
            padding-left: 280px;
            padding-right: auto;
        }
        .modal-window__title {
            padding-left: 20px;
            font-size: 20px;
        }
        .inputs {
            padding-left: 20px;
            padding-right: 20px;
            .input {
                margin-top: 14px;
                height: 50px;
                padding-left: 20px;
                border: 1px solid #FFECA0;
                border-radius: 10px;
                font-family: $raleway-l;
                font-size: 16px;
            }
        }
        .modal-btn {
            padding: 16px 34px;
            font-size: 14px;
            margin-bottom: 113px;
            margin-left: 20px;
            margin-bottom: 350px;
        }
    }

    .wrapper-modal-trial {
        width: 375px;
    }

    .modal-window-trial {
        width: 375px;
        height: 876px;
        border-radius: 50px;
        background: url(/img/children_on/add_form_mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .btn-close-modal-trial {
            padding-left: 300px;
            padding-right: 0;
        }
        .modal-window-trial__title {
            padding-left: 20px;
            font-size: 20px;
        }
        .add-form__subtitle {
            .adults {
                width: 160px;
                margin-left: 20px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
            .children {
                width: 160px;
                margin-top: 30px;
                margin-left: 15px;
                font-size: 16px;
                &:after {
                    width: 160px;
                }
                &.js_active:after {
                    width: 160px;
                }
            }
        }
        .form {
            .dropdown__btn {
                height: 42px;
                width: 335px;
                margin-left: 20px;
            }
            .dropdown__list {
                width: 335px;
                margin-left: 20px;
            }
            .form__radio {
                .radio1 {
                    margin-left: 20px;
                }
                .radio2 {
                    margin-left: 30px;
                }
            }
        }
        .under-inputs {
            width: 158px;
            height: 42px;
        }
        .input-name {
            margin-left: 20px;
        }
        .input-phone {
            margin-left: 16px;
        }
        .input-email {
            width: 335px;
            margin-left: 20px;
        }
        .modal-btn {
            padding: 16px 34px;
            font-size: 16px;
        }
    }
    .wrapper-modal {
        width: 375px;
    }
    .modal-window {
        width: 375px;
        height: 783px;
        border-radius: 50px;
        background: url(/img/main/modal-mobile.png) no-repeat bottom;
        background-color: $l-yellowclr;
        .btn-close-modal {
            padding-left: 301px;
            padding-right: 20px;
            padding-top: 30px;
        }
        .modal-window__title {
            padding-left: 20px;
            font-size: 20px;
        }
        .inputs {
            padding-left: 20px;
            padding-right: 20px;
            div {
                width: 335px;
            }
            .input {
                margin-top: 14px;
                width: 150px;
                height: 40px;
                font-size: 14px;
            }
            .input-mail {
                width: 335px;
            }
            .input-price {
                width: 335px;
            }
        }
        .modal-window__text {
            padding-left: 20px;
            padding-right: 76px;
            font-size: 12px;
        }
        .modal-btn {
            padding: 16px 34px;
            font-size: 16px;
            border-radius: 30px;
            margin-top: 30px;
            margin-bottom: 60px;
            margin-left: 111px;
        }
    }
}