@font-face {
    font-family: "Nextart-Heavy", Arial, Helvetica, sans-serif;
    src: url(../fonts/Nextart-Heavy.otf) format("opentype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
    src: url(../fonts/Raleway-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
    src: url(../fonts/Raleway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    src: url(../fonts/Raleway-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}